<p style="font-size:30px; text-align:center; line-height:120%">
<br>
COMS W 4111-02, H02, V02<br>
Introduction to Databases<br>
Fall 2019 Take Home Final Exam
</p>

__Please put your UNI, last name, first name and email in the cell below. Double click to edit it. Replace my information with yours.__

__UNI:__ hl3202

__Last name:__ Li

__First name:__ Hanao

__Email:__ hl3202@columbia.edu

<a id='top'></a>

# Table of Contents

- Setup:
    - <a href='#eo'> Exam Overview</a>
    - <a href='#sql'> SQL Magic Test</a>
    - <a href='#python'> Python Helper Code</a>
    - <a href='#neo'> Neo4j Setup</a>
    - <a href='#redis'> Redis Setup</a>
    
- Questions: 
    - <a href='#1'> Question 1: Data Concepts (5pts)</a>
    - <a href='#2'> Question 2: Data Modeling (10pts)</a>
    - <a href='#3'> Question 3: Data Table Concepts (10pts)</a>
    - <a href='#4'> Question 4: Normalization Concepts (5pts)</a>
    - <a href='#5'> Question 5: Relational Algebra (5pts)</a>
    - <a href='#6'> Question 6: Schema Improvement (10pts)</a>
    - <a href='#7'> Question 7: Complex SQL (10pts)</a>
        - <a href='#7.1'> Part 1: View Creation</a>
        - <a href='#7.2'> Part 2: Aggregation </a>
        - <a href='#7.3'> Part 3: Classification</a>
    - <a href='#8'> Question 8: Physical Storage (5pts)</a>
    - <a href='#9'> Question 9: Indexing (5pts)</a>
    - <a href='#10'> Question 10: Query Processing and Optimization (5pts)</a>
    - <a href='#11'> Question 11: Transaction Processing (5pts)</a>
    - <a href='#12'> Question 12: Using Transactions (10pts)</a>
    - <a href='#13'> Question 13: Star Schema (5pts)</a>
    - <a href='#14'> Question 14: Graph Databases (5pts)</a>
    - <a href='#15'> Question 15: Decision Support Schema (5pts)</a>

<a id='eo'></a>

# Exam Overview and Instructions

- Homework assignments and exams have point values. Final grade depends on total point value. The range is 0 to 100 points. __This final exam is worth 30 points.__


- Submission:
    - The exam is due on 14-Dec-2019 at 11:59 PM. __You may not use grace days.__
    - Submission:
        - Submission format is a zip file of this Jupyter Notebook with your solutions entered into the code cells or Markdown cells for each question. If you embed images or diagrams, you need to include in the zip file. 
        - You submit your zip file containing the notebook with answers on CourseWorks under "Final Examination" assignment.
        - No other formats are allowed.
        - If the notebook format is incorrect or the notebook is corrupted, the grade is 0.
        - Submissions after the due date and time are not allowed. Submissions not received on time receive a grade of 0.
        - Your zip file MUST be named your-uni_w4111_f19_final_exam.zip. The name of the notebook file must be your-uni_w4111_f19_final_exam.zip.
    - Respect for the individual is paramount. We will accommodate special circumstances, but we must be notified and discuss __in advance.__
    

- Exam Rules:
    - Please read and review the [Academic Integrity policy and guidelines](https://www.college.columbia.edu/academics/academicintegrity), including subsections and details. This material defines the rules for this exam regardless of your school.
    - __No collaboration of any form is permitted. You may not share material of any form, including links to on-line information, information from the preparatory recitation section, suggestions or ideas, etc. You may not discuss the questions or answers with other students, TAs, friends, ...__
    - You MAY use lecture notes, material in Piazza, and any on-line information you find, but may not directly use code you find. You must cite any on-line sources in the comments Markdown cell for each questions.
    - You must privately send comments or questions to Professor Ferguson via email. If questions or comments demonstrate a need for clarification or correction, Prof. Ferguson will post an update on Piazza and send an email notification.
    - You may not discuss the exam questions or answers on Piazza, except in response to professor or CA posted comments. The CA or professor WILL post clarifying instructions on Piazza.

- Completing the exam:<br><br>
    - Environment:
        - You will need to use MySQL, Neo4j and Redis to complete the final exam.
        - MySQL: You have used in set up the MySQL environment for Jupyter notebooks for the midterm exam and lectures.
            - You will need to use several databases/schemas for the homework. You will need to use lahman2019clean, which you had to install for HW2. You will also need [classicmodels](http://www.mysqltutorial.org/mysql-sample-database.aspx). You need to install both databases, if you have not. You MUST use the schema/database names lahman2019clean and classmodels.
            - You must have a user ID dbuser with password dbuserdbuser and use in any connections you make completing questions.<br><br>
        - Neo4j: You set up Neo4j for homework 4.
            - Please follow the instructions in the previous [recorded makeup lecture](https://cvn.hosted.panopto.com/Panopto/Pages/Viewer.aspx?id=169786d3-c838-4f2c-ada6-ab1800d0e654) for setting up a cloud version of Neo4j.
            - You must have installed the sample movie database. The recorded lecture has instructions.
            - You must install the [Neo4j REST Client](https://docs.graphenedb.com/docs/python#section-neo4j-rest-client). The easiest way to do this is:
                - Go to the ```File``` menu option in the Notebook and select ```Open.``` This will open a new file explorer.
                - On the upper right hand corner, click on ```New``` and choose terminal. This will open a terminal window.
                - In the terminal window, enter ```pip install neo4jrestclient```<br><br>
    - Redis: You set up Redis for homework 4.
        - Please follow the instructions in the [recorded makeup lecture](https://cvn.hosted.panopto.com/Panopto/Pages/Viewer.aspx?id=169786d3-c838-4f2c-ada6-ab1800d0e654) for setting up a cloud version of Redis.
        - You do not need to install or configure any data.
        - The Anaconda environment comes with a Redis client.
        - User IDs and passwords for databases $-$ Please follow the instructions in section 2. Section 2 tests the setup of your environment. <br><br>
    - There is a cell in the setup section where you have to set come global variables for the URLs, user IDs, etc. for your cloud installations.<br><br>
    - Each question starts with an explanation of the structure of the answer, e.g. prose, diagram, SQL, etc.<br><br>
    - Questions requiring SQL or code have empty text cells where you enter your statements. Some also contain sample answers to help you determine if your answer is correct. You must show the execution of your SQL in your submission. You may use LIMIT 10 to reduce the size of results.

You may include diagrams in text/Markdown cells when answering a question. You can include a diagram using an HTML tag of the form:<br><br>

```<img src="./filename.file_extension">```

<br>
The example below between the horizontal lines includes an image. You can click on the cell to see the Markdown code for including the image. <b>You will have to submit a zip file containing the notebook and you image if you include diagrams or images in your submission.</b>
<br><br>

<hr style="height:2px;">

- Double click in between lines to see the Markdown example for including a diagram.
<br><br>
<img src="./Columbia_University_logo.jpg">
<br><br>
<hr style="height:2px;">

<span style="font-size:24px; color:red; line-height:1.2;">Note:</span>

- <span style="color:red;">Each question specific the point value of the question.</span>


- <span style="color:red;">Not all questions with the same point value are equally hard. </span>


- <span style="color:red;">One five point question might be much easier than another five point question.</span>


- <span style="color:red;">A ten point question is not always exactly twice as hard as a five point question.</span>


- <span style="color:red;">Students sometimes complain about the discrepancy in difficulty and value.</span>


- <span style="color:red;">I am sensitive to the concern. I am happy to resolve this complaint by redoing the exam to make all five point questions as hard as the hardest five point question, and all ten point questions as hard as the hardest ten point question.</span>


- <span style="color:red;">Just let me know.</span>

# Environment Test

## MySQL

<a id='sql'></a>

### SQL Magic Plugin

In [23]:
import json
import pandas

In [24]:
%load_ext sql
%sql mysql+pymysql://root:dbuserdbuser@localhost/lahman2019clean

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: root@lahman2019clean'

In [25]:
%sql select * from people where playerid='willite01'

 * mysql+pymysql://root:***@localhost/lahman2019clean
1 rows affected.

[('willite01', '1918', '8', '30', 'USA', 'CA', 'San Diego', '2002', '7', '5', 'USA', 'FL', 'Inverness', 'Ted', 'Williams', 'Theodore Samuel', 205, '75', 'L', 'R', '1939-04-20', '1960-09-28', 'willt103', 'willite01', datetime.datetime(1918, 8, 30, 0, 0), datetime.datetime(2002, 7, 5, 0, 0))]

<a id='python'></a>

### Python Helper Code

In [26]:
import pymysql
import logging
import json

default_db_host="localhost"
default_db_user="dbuser"
default_db_password="dbuserdbuser"

def get_new_connection(host=default_db_host, user=default_db_user, password=default_db_password):
    result_conn = pymysql.connect(
        host=host,
        user=user,
        password=password,
        cursorclass=pymysql.cursors.DictCursor,
        autocommit=False)
    return result_conn


midterm_conn = get_new_connection(default_db_host, default_db_user, default_db_password)

In [27]:
def tx_commit(conn):
    conn.commit()
    
def tx_rollback(conn):
    conn.rollback()
    
def conn_close(conn):
    conn.close()

def run_q(sql, args=None, fetch=True, cur=None, conn=midterm_conn, commit=True, debug=False):
    '''
    Helper function to run an SQL statement.

    This is a modification that better supports HW1. An RDBDataTable MUST have a connection specified by
    the connection information. This means that this implementation of run_q MUST NOT try to obtain
    a defailt connection.

    :param sql: SQL template with placeholders for parameters. Cannot be NULL.
    :param args: Values to pass with statement. May be null.
    :param fetch: Execute a fetch and return data if TRUE.
    :param conn: The database connection to use. 
    :param cur: The cursor to use. 
    :param commit: Commit after completing transaction.
    :param debug: If true, print some debugging messages.

    :return: A pair of the form (execute response, fetched data). There will only be fetched data if
        the fetch parameter is True. 'execute response' is the return from the connection.execute, which
        is typically the number of rows effected.
    '''

    cursor_created = False
    connection_created = False

    try:

        if conn is None:
            connection_created = True
            conn = get_new_connection(default_db_host, default_db_user, default_db_password)
            cursor_created = True
            cur = conn.cursor()

        if cur is None:
            cursor_created = True
            cur = conn.cursor()

        if args is not None:
            log_message = cur.mogrify(sql, args)
        else:
            log_message = sql

        if debug:
            print("Executing SQL = " + log_message)

        res = cur.execute(sql, args)

        if fetch:
            data = cur.fetchall()
        else:
            data = None

        # Do not ask.
        if commit == True:
            conn.commit()
            
        if cursor_created:
            cur.close()
        if connection_created:
            conn.close()

    except Exception as e:
        if commit == True:
            conn.rollback()
        if cursor_created:
            cur.close()
        if connection_created:
            conn.close()
        raise(e)

    return (res, data)

In [28]:
q = "select playerID, nameLast, nameFirst from lahman2019clean.people where nameLast=%s and birthCity=%s"
res,d = run_q(q, args=('Williams', 'San Diego'), debug=True)

print("Data = ", json.dumps(d, indent=2))

Executing SQL = select playerID, nameLast, nameFirst from lahman2019clean.people where nameLast='Williams' and birthCity='San Diego'
Data =  [
  {
    "playerID": "willite01",
    "nameLast": "Williams",
    "nameFirst": "Ted"
  },
  {
    "playerID": "willitr01",
    "nameLast": "Williams",
    "nameFirst": "Trevor"
  }
]

<a id='neo'></a>

## Neo4j

- Set your Neo4j variables here.

In [48]:
neo4j_host = "https://hobby-eeicopedajfpgbkedidgoedl.dbs.graphenedb.com:24780/db/data/"
neo4j_user = "hl3202"
neo4j_password = "b.cMK2IVhcQ116.Z2moz7nZdxDhfPpy"

In [50]:
import neo4jrestclient
from neo4jrestclient.client import GraphDatabase

import urllib3
urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)

neo4jrestclient.options.VERIFY_SSL = False 



gdb = GraphDatabase(neo4j_host, username = neo4j_user, password = neo4j_password)

In [51]:
def get_stuff(d):
    result = {}
    result['id'] = d['metadata']['id']
    result['labels'] = d['metadata'].get('labels', None)
    result['properties'] = d['data']
    return result

__Testing Getting Tom Hanks__

In [52]:
result = gdb.query("MATCH (n:Person) where n.name='Tom Hanks' return n")
for record in result:
    n = get_stuff(record[0])
    print("N = ", json.dumps(n, indent=2))

N =  {
  "id": 71,
  "labels": [
    "Person"
  ],
  "properties": {
    "born": 1956,
    "name": "Tom Hanks"
  }
}

__Testing a More Complex Thing__

In [53]:
result = gdb.query("MATCH (n:Person)-[r:ACTED_IN]->(m:Movie) where n.name='Tom Hanks' return n,r,m")
for record in result:
    actor = get_stuff(record[0])
    rel = get_stuff(record[1])
    movie = get_stuff(record[2])
    print("\tActor = ", json.dumps(actor))
    print("\tRelationship = ", json.dumps(rel))
    print("\tMovie = ", json.dumps(movie))
    print("")

	Actor =  {"id": 71, "labels": ["Person"], "properties": {"born": 1956, "name": "Tom Hanks"}}
	Relationship =  {"id": 202, "labels": null, "properties": {"roles": ["Jim Lovell"]}}
	Movie =  {"id": 144, "labels": ["Movie"], "properties": {"tagline": "Houston, we have a problem.", "title": "Apollo 13", "released": 1995}}

	Actor =  {"id": 71, "labels": ["Person"], "properties": {"born": 1956, "name": "Tom Hanks"}}
	Relationship =  {"id": 84, "labels": null, "properties": {"roles": ["Joe Fox"]}}
	Movie =  {"id": 67, "labels": ["Movie"], "properties": {"tagline": "At odds in life... in love on-line.", "title": "You've Got Mail", "released": 1998}}

	Actor =  {"id": 71, "labels": ["Person"], "properties": {"born": 1956, "name": "Tom Hanks"}}
	Relationship =  {"id": 234, "labels": null, "properties": {"roles": ["Jimmy Dugan"]}}
	Movie =  {"id": 162, "labels": ["Movie"], "properties": {"tagline": "Once in a lifetime you get a chance to do something different.", "title": "A League of Their Own", "released": 1992}}

	Actor =  {"id": 71, "labels": ["Person"], "properties": {"born": 1956, "name": "Tom Hanks"}}
	Relationship =  {"id": 98, "labels": null, "properties": {"roles": ["Joe Banks"]}}
	Movie =  {"id": 78, "labels": ["Movie"], "properties": {"tagline": "A story of love, lava and burning desire.", "title": "Joe Versus the Volcano", "released": 1990}}

	Actor =  {"id": 71, "labels": ["Person"], "properties": {"born": 1956, "name": "Tom Hanks"}}
	Relationship =  {"id": 110, "labels": null, "properties": {"roles": ["Mr. White"]}}
	Movie =  {"id": 85, "labels": ["Movie"], "properties": {"tagline": "In every life there comes a time when that thing you dream becomes that thing you do", "title": "That Thing You Do", "released": 1996}}

	Actor =  {"id": 71, "labels": ["Person"], "properties": {"born": 1956, "name": "Tom Hanks"}}
	Relationship =  {"id": 146, "labels": null, "properties": {"roles": ["Dr. Robert Langdon"]}}
	Movie =  {"id": 111, "labels": ["Movie"], "properties": {"tagline": "Break The Codes", "title": "The Da Vinci Code", "released": 2006}}

	Actor =  {"id": 71, "labels": ["Person"], "properties": {"born": 1956, "name": "Tom Hanks"}}
	Relationship =  {"id": 137, "labels": null, "properties": {"roles": ["Zachry", "Dr. Henry Goose", "Isaac Sachs", "Dermot Hoggins"]}}
	Movie =  {"id": 105, "labels": ["Movie"], "properties": {"tagline": "Everything is connected", "title": "Cloud Atlas", "released": 2012}}

	Actor =  {"id": 71, "labels": ["Person"], "properties": {"born": 1956, "name": "Tom Hanks"}}
	Relationship =  {"id": 213, "labels": null, "properties": {"roles": ["Chuck Noland"]}}
	Movie =  {"id": 150, "labels": ["Movie"], "properties": {"tagline": "At the edge of the world, his journey begins.", "title": "Cast Away", "released": 2000}}

	Actor =  {"id": 71, "labels": ["Person"], "properties": {"born": 1956, "name": "Tom Hanks"}}
	Relationship =  {"id": 182, "labels": null, "properties": {"roles": ["Paul Edgecomb"]}}
	Movie =  {"id": 130, "labels": ["Movie"], "properties": {"tagline": "Walk a mile you'll never forget.", "title": "The Green Mile", "released": 1999}}

	Actor =  {"id": 71, "labels": ["Person"], "properties": {"born": 1956, "name": "Tom Hanks"}}
	Relationship =  {"id": 91, "labels": null, "properties": {"roles": ["Sam Baldwin"]}}
	Movie =  {"id": 73, "labels": ["Movie"], "properties": {"tagline": "What if someone you never met, someone you never saw, someone you never knew was the only someone for you?", "title": "Sleepless in Seattle", "released": 1993}}

	Actor =  {"id": 71, "labels": ["Person"], "properties": {"born": 1956, "name": "Tom Hanks"}}
	Relationship =  {"id": 232, "labels": null, "properties": {"roles": ["Hero Boy", "Father", "Conductor", "Hobo", "Scrooge", "Santa Claus"]}}
	Movie =  {"id": 161, "labels": ["Movie"], "properties": {"tagline": "This Holiday Season\u2026 Believe", "title": "The Polar Express", "released": 2004}}

	Actor =  {"id": 71, "labels": ["Person"], "properties": {"born": 1956, "name": "Tom Hanks"}}
	Relationship =  {"id": 228, "labels": null, "properties": {"roles": ["Rep. Charlie Wilson"]}}
	Movie =  {"id": 159, "labels": ["Movie"], "properties": {"tagline": "A stiff drink. A little mascara. A lot of nerve. Who said they couldn't bring down the Soviet empire.", "title": "Charlie Wilson's War", "released": 2007}}

__Testing Some Cooler Stuff__

In [54]:
q =  """MATCH (n:Person)-[r:ACTED_IN]->(m:Movie) where n.name='Tom Hanks'
        return n.name,r.roles,m.title,m.released"""
result = gdb.query(q)
   
df = pandas.DataFrame(result, columns=["Name", "Roles", "Title", "Released"])    

df

,Name,Roles,Title,Released
0,Tom Hanks,[Jim Lovell],Apollo 13,1995
1,Tom Hanks,[Joe Fox],You've Got Mail,1998
2,Tom Hanks,[Jimmy Dugan],A League of Their Own,1992
3,Tom Hanks,[Joe Banks],Joe Versus the Volcano,1990
4,Tom Hanks,[Mr. White],That Thing You Do,1996
5,Tom Hanks,[Dr. Robert Langdon],The Da Vinci Code,2006
6,Tom Hanks,"[Zachry, Dr. Henry Goose, Isaac Sachs, Dermot ...",Cloud Atlas,2012
7,Tom Hanks,[Chuck Noland],Cast Away,2000
8,Tom Hanks,[Paul Edgecomb],The Green Mile,1999
9,Tom Hanks,[Sam Baldwin],Sleepless in Seattle,1993
10,Tom Hanks,"[Hero Boy, Father, Conductor, Hobo, Scrooge, S...",The Polar Express,2004
11,Tom Hanks,[Rep. Charlie Wilson],Charlie Wilson's War,2007

<a id='redis'></a>

## Redis

- Set your Redis configuration's values here.

In [15]:
redis_host = "SG-w4111-28539.servers.mongodirector.com"
redis_password = "2wPlypxfgYOWmNbADvXJaNqAnvNa9CSJ"

In [16]:
import redis

rd = redis.Redis(host=redis_host, password=redis_password)

data = json.dumps(list(result))
key = "Tom Hanks:ACTED_IN"
res = rd.set(key, data)

- Your keys will differ based on prior tests. Just make sure you have the ```b'Tom Hanks:ACTED_IN'``` key.

In [17]:
result = rd.keys("*")
print("Result = ", result)

Result =  [b'Movie:{"released": 2008, "title": "Frost/Nixon"}', b'Tom Hanks:ACTED_IN']

In [18]:
roles = rd.get(key)
print("Raw answer = ", roles)
roles = json.loads(roles)
roles = pandas.DataFrame(roles, columns=["Name", "Roles", "Title", "Released"])

Raw answer =  b'[["Tom Hanks", ["Jim Lovell"], "Apollo 13", 1995], ["Tom Hanks", ["Joe Fox"], "You\'ve Got Mail", 1998], ["Tom Hanks", ["Jimmy Dugan"], "A League of Their Own", 1992], ["Tom Hanks", ["Joe Banks"], "Joe Versus the Volcano", 1990], ["Tom Hanks", ["Mr. White"], "That Thing You Do", 1996], ["Tom Hanks", ["Dr. Robert Langdon"], "The Da Vinci Code", 2006], ["Tom Hanks", ["Zachry", "Dr. Henry Goose", "Isaac Sachs", "Dermot Hoggins"], "Cloud Atlas", 2012], ["Tom Hanks", ["Chuck Noland"], "Cast Away", 2000], ["Tom Hanks", ["Paul Edgecomb"], "The Green Mile", 1999], ["Tom Hanks", ["Sam Baldwin"], "Sleepless in Seattle", 1993], ["Tom Hanks", ["Hero Boy", "Father", "Conductor", "Hobo", "Scrooge", "Santa Claus"], "The Polar Express", 2004], ["Tom Hanks", ["Rep. Charlie Wilson"], "Charlie Wilson\'s War", 2007]]'

In [19]:
roles

,Name,Roles,Title,Released
0,Tom Hanks,[Jim Lovell],Apollo 13,1995
1,Tom Hanks,[Joe Fox],You've Got Mail,1998
2,Tom Hanks,[Jimmy Dugan],A League of Their Own,1992
3,Tom Hanks,[Joe Banks],Joe Versus the Volcano,1990
4,Tom Hanks,[Mr. White],That Thing You Do,1996
5,Tom Hanks,[Dr. Robert Langdon],The Da Vinci Code,2006
6,Tom Hanks,"[Zachry, Dr. Henry Goose, Isaac Sachs, Dermot ...",Cloud Atlas,2012
7,Tom Hanks,[Chuck Noland],Cast Away,2000
8,Tom Hanks,[Paul Edgecomb],The Green Mile,1999
9,Tom Hanks,[Sam Baldwin],Sleepless in Seattle,1993
10,Tom Hanks,"[Hero Boy, Father, Conductor, Hobo, Scrooge, S...",The Polar Express,2004
11,Tom Hanks,[Rep. Charlie Wilson],Charlie Wilson's War,2007

<a id='1'></a>

# Exam Questions

<span style="font-size:18px;"><u>Q1: Data Concepts (5 points)</u></span>
    
Provide a two or three sentence definition of each of the following concepts, and provide an example.

1. Structured data
<br><br>
2. Semi-structured data
<br><br>
3. Unstructured data
<br><br>
4. Metadata
<br><br>
5. BLOB

Answer:

<a id='2'></a>

1. Structured data: high degree of organization, all records for a given type have the same fields, the fields are strongly typed and there are integrity constraints on values, e.g. NOT NULL, the relational model is the cannonical example: there is data defnition language (DDL), instances of data must match the DDL in the same way objets match the class definition. Examples of structured data: name, age, gender. Sources of structured data: SQL databass, spreadsheets.

2. Semi-structured data: there are records with fields, you can parse the data to extract records and fields into data structures, records may have some common fields, but any record may have any fields of any types. Documents are the canonical example: thre are common structural concepts: headers, lists, footnotes. CouchDB is an example of a document database. It stores semi-structured JSON documents.

3. Unstructured data: no explicit records or delimiters. No fields, no properties. Just a sequence of characters/bytes than can be interpreted by some processing engine. Images, audio fiels, etc are examples. 

4. Metadata: Metadata is "data information that provides information about other data". Three distincy types of metadata exist: descriptive metadata, structural metadata, administrative metadata. Descriptive metadata describes a resource for purposes such as discovery and identification. It can include elements such as title, abstract, author, and keywords.Structural metadata is metadata about containers of data and indicates how compound objects are put together, for example, how pages are ordered to form chapters. It describes the types, versions, relationships and other characteristics of digital materials. Administrative metadata provides information to help manage a resource, such as when and how it was created, file type and other technical information, and who can access it.

5. BLOB: A Binary Large OBject (BLOB) is a collection of binary data stored as a single entity in a database management system. Blobs are typically images, audio or other multimedia objects, though sometimes binary executable code is stored as a blob.It is a large object data type in the database system. BLOB could store a large chunk of data, document types and even media files like audio or video files. BLOB fields allocate space only whenever the content in the field is utilized. BLOB allocates spaces in Giga Bytes.

Cited from lecture note 1, blob cited from https://stackoverflow.com/questions/5414551/what-is-it-exactly-a-blob-in-a-dbms-context

<span style="font-size:18px;"><u>Q2: Data Modeling (10 points)</u></span>

- A university has the following entities representing people.:
    1. Person
        - ```UNI```
        - ```last_name```
        - ```first_name```
        - ```email```
    2. Employee _isA_ Person
        - ```pay_grade``` is a fixed set of values: ```e1, e2, e3, e4, o1, o2```
        - ```hire_date,``` which is automatically set when an entity is created.
    3. Faculty _isA_ Employee
        - ```title``` is one of ```Adjunct Professor, Assistant Professor, Associate Professor, Professor.```
        - A professor is a member of at least one but possibly several departments. One department is ```primary,``` and other departments would be ```secondary.```
    4. Staff _isA_ Employee
        - ```job name``` is a fixed list of job names, but it is possible to add, change or delete the set of job titles without modifying the database schema.
        - ```time_in_pay_grade```
    5. Student _isA_ Person
        - ```major```
        - ```enrollment_year```
        - ```graduation_year```
        
        
- The university has the following entities representing the structure:
    - A ```School``` has a name and a ```dean.``` A ```dean``` is ```Staff```
    - A ```Department``` has a name, ```chair``` who is a ```Faculty``` and is "in" one or more ```School.```
    - A ```Major``` has ```code``` and ```name``` and is offered by one or more schools.
    
    
- Model a _Crow's Foot_ notation diagram defining a physical data model representing the information. This should not be hand-written, you may use SQL or powerpoint or any other software you find online


- __Note:__ Like most design problems, there is no single correct answer. You can provide brief explanations about any design choices you make.

Answer:

<br><br>
<img src="./q2.png">
<br><br>
<hr style="height:2px;">

<a id='3'></a>

<span style="font-size:18px;"><u>Q3: Data Table Concepts (10 points)</u></span>

- Run the following code to see a course listing page. It just loads a web page in an iframe and does NOT need to be changed

In [70]:
import IPython
url = 'https://www.cc-seas.columbia.edu/sites/dsa/files/handbooks/Columbia%20Key%20to%20Course%20Listing.pdf'
iframe = '<iframe src=' + url + ' width=700 height=1000></iframe>'
IPython.display.HTML(iframe)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\display.py:689: UserWarning: Consider using IPython.display.IFrame instead
  warnings.warn("Consider using IPython.display.IFrame instead")

- The page above explains the meaning of the fields in a course/section.


- Define one or more tables in SQL DDL to represent and store the information.


- Your design and DDL should include keys (primary and/or foreign keys), constraints, types, etc. 


Answer: Put DDL (create table statements) below. You do not need to execute the DDL.

```
CREATE TABLE `department` (
  `dept_code` char(4) NOT NULL,
  `dept_name` varchar(64) NOT NULL,
  PRIMARY KEY (`dept_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

CREATE TABLE `course_listing` (
  `call_no` char(5) NOT NULL,
  `dept_code` char(4) NOT NULL,
  `faculty_code` enum('BC','C','E','F','G','V','W','X') NOT NULL,
  `c_level` enum('0','1','2','3','4','6','8','9') NOT NULL,
  `c_code` char(3) NOT NULL,
  `credit` int(11) NOT NULL,
  `full_number` varchar(45) GENERATED ALWAYS AS (concat(`dept_code`,`faculty_code`,`c_level`,`c_code`)) STORED,
  PRIMARY KEY (`call_no`),
  KEY `c_to_d_idx` (`dept_code`),
  CONSTRAINT `c_to_d` FOREIGN KEY (`dept_code`) REFERENCES `department` (`dept_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
```

<a id='4'></a>

<span style="font-size:18px;"><u>Q4: Normalization Concepts (5 points)</u></span>

Briefly explain the following concepts. Three or four sentences is sufficient for each concept.
1. Functional dependency.
<br><br>
2. Data redundancy and update anomaly.
<br><br>
3. Decomposition
<br><br>
5. BCNF
<br><br>
5. First Normal Form and atomic domain


Answer:

1. Functional dependency: A functional dependency (FD) is a relationship between two attributes, typically between the PK and other non-key attributes within a table. For any relation R, attribute Y is functionally dependent on attribute X (usually the PK), if for every valid instance of X, that value of X uniquely determines the value of Y. This relationship is indicated by the representation below : X ———–> Y. The left side of the above FD diagram is called the determinant, and the right side is the dependent.

2. Data redundancy and update anomaly: In database design, redundancy is generally undesirable because it causes problems maintaining consistency after updates. However, redundancy can sometimes lead to performance improvements; for example, when redundancy can be used in place of a join to connect data. A join is used when you need to obtain information based on two related tables. If a branch changes address, such as the Round Hill branch in Figure 10.3, we need to update all rows referring to that branch. Changing existing information incorrectly is called an update anomaly.

3. Decomposition: Decomposition is the process of breaking down in parts or elements.It replaces a relation with a collection of smaller relations. It breaks the table into multiple tables in a database. It should always be lossless, because it confirms that the information in the original relation can be accurately reconstructed based on the decomposed relations. If there is no proper decomposition of the relation, then it may lead to problems like loss of information.

4. BCNF: Boyce-Codd Normal Form or BCNF is an extension to the third normal form, and is also known as 3.5 Normal Form.or a table to satisfy the Boyce-Codd Normal Form, it should satisfy the following two conditions: It should be in the Third Normal Form. And, for any dependency A → B, A should be a super key. In simple words, it means, that for a dependency A → B, A cannot be a non-prime attribute, if B is a prime attribute. If a relational schema is in BCNF then all redundancy based on functional dependency has been removed, although other types of redundancy may still exist.

5. First Normal Form and atomic domain: A database is in first normal form if it satisfies the following conditions: Contains only atomic values, There are no repeating groups.A table is in 1 NF iff: There should be Single Valued Attributes.Attribute Domain should not change. There should be Unique name for Attributes/Columns. The order in which data is stored, does not matter. An atomic value is a value that cannot be divided. 


Cited form https://opentextbc.ca/dbdesign01/chapter/chapter-11-functional-dependencies/, https://opentextbc.ca/dbdesign01/chapter/chapter-10-er-modelling/, https://www.tutorialride.com/dbms/database-decomposition.htm, https://www.studytonight.com/dbms/boyce-codd-normal-form.php, https://www.1keydata.com/database-normalization/first-normal-form-1nf.php, https://www.geeksforgeeks.org/first-normal-form-1nf/

<a id='5'></a>

<span style="font-size:18px;"><u>Q5: Relational Algebra (5 points)</u></span>

| <img src="./big_bank.png"> |
| :---: |
| __Bank Relation Schema__ |

- Use the __Bank Relational Schema__ above for this question.


- Give an expression in the relational algebra that answers the following questions.


1. Find each loan number with an amount greater than \$10000.
<br><br>
2. Find the ID of each depositor who has an account with balance greater than \$6000
<br><br>
3. Find the ID of each depositor who has an account with balance greater than \$6000 and has an account in the branch named "Uptown."
4. Define a key for _branch._
<br><br>
5. Write an expression that returns a table of the form:
```
portfolio(customer_id, customer_name, thing_number, thing_amount)
```
A "thing" is either a load or account. And "thing amount" is the balance if an account and the amount if a loan.

Answer:

1.  

<span style="font-size:24px;">$\pi_{loan\_number}(\sigma_{(amount>10000)}(loan))$</span>

2.

<span style="font-size:24px;">$\pi_{ID}(depositor \bowtie \sigma_{(balance>6000}(account))$</span>

3.

<span style="font-size:24px;">$\pi_{ID}(depositor \bowtie (\sigma_{((branch="uptown") \land (balance>6000))}(account)))$</span>

4.

<span style="font-size:24px;">$branch(\underline{branch\_name, branch\_city}, assets)$</span>

5.

<span style="font-size:24px;">$portfolio=$</span>

<span style="font-size:24px;">$\pi_{customer\_id, customer\_name, number, amount}((customer \bowtie loan) \cup (customer \bowtie account)) $</span>

<span style="font-size:18px;"><u>Q6: Schema Improvement (10 points)</u></span>

- The following is a modified table definition for a business customer from the [Northwind sample databases.]

```
CREATE TABLE `customers` (
  `CustomerID` varchar(5) NOT NULL,
  `CompanyName` varchar(40) NOT NULL,
  `ContactName` varchar(30) DEFAULT NULL,
  `ContactTitle` varchar(30) DEFAULT NULL,
  `Address` varchar(60) DEFAULT NULL,
  `City` varchar(15) DEFAULT NULL,
  `Region` varchar(15) DEFAULT NULL,
  `PostalCode` varchar(10) DEFAULT NULL,
  `Country` varchar(15) DEFAULT NULL,
  `Phone` varchar(24) DEFAULT NULL,
  `Fax` varchar(24) DEFAULT NULL
) ENGINE=MyISAM DEFAULT CHARSET=utf8;

```

- This is a sample query of some of the data.

In [5]:
%sql select * from northwind.customers limit 20;

20 rows affected.

[('ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', None, '12209', 'Germany', '030-0074321', '030-0076545'),
 ('ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la Constitución 2222', 'México D.F.', None, '05021', 'Mexico', '(5) 555-4729', '(5) 555-3745'),
 ('ANTON', 'Antonio Moreno Taquería', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'México D.F.', None, '05023', 'Mexico', '(5) 555-3932', None),
 ('AROUT', 'Around the Horn', 'Thomas Hardy', 'Sales Representative', '120 Hanover Sq.', 'London', None, 'WA1 1DP', 'UK', '(171) 555-7788', '(171) 555-6750'),
 ('BERGS', 'Berglunds snabbköp', 'Christina Berglund', 'Order Administrator', 'Berguvsvägen  8', 'Luleå', None, 'S-958 22', 'Sweden', '0921-12 34 65', '0921-12 34 67'),
 ('BLAUS', 'Blauer See Delikatessen', 'Hanna Moos', 'Sales Representative', 'Forsterstr. 57', 'Mannheim', None, '68306', 'Germany', '0621-08460', '0621-08924'),
 ('BLONP', 'Blondel père et fils', 'Frédérique Citeaux', 'Marketing Manager', '24, place Kléber', 'Strasbourg', None, '67000', 'France', '88.60.15.31', '88.60.15.32'),
 ('BOLID', 'Bólido Comidas preparadas', 'Martín Sommer', 'Owner', 'C/ Araquil, 67', 'Madrid', None, '28023', 'Spain', '(91) 555 22 82', '(91) 555 91 99'),
 ('BONAP', "Bon app'", 'Laurence Lebihan', 'Owner', '12, rue des Bouchers', 'Marseille', None, '13008', 'France', '91.24.45.40', '91.24.45.41'),
 ('BOTTM', 'Bottom-Dollar Markets', 'Elizabeth Lincoln', 'Accounting Manager', '23 Tsawassen Blvd.', 'Tsawassen', 'BC', 'T2F 8M4', 'Canada', '(604) 555-4729', '(604) 555-3745'),
 ('BSBEV', "B's Beverages", 'Victoria Ashworth', 'Sales Representative', 'Fauntleroy Circus', 'London', None, 'EC2 5NT', 'UK', '(171) 555-1212', None),
 ('CACTU', 'Cactus Comidas para llevar', 'Patricio Simpson', 'Sales Agent', 'Cerrito 333', 'Buenos Aires', None, '1010', 'Argentina', '(1) 135-5555', '(1) 135-4892'),
 ('CENTC', 'Centro comercial Moctezuma', 'Francisco Chang', 'Marketing Manager', 'Sierras de Granada 9993', 'México D.F.', None, '05022', 'Mexico', '(5) 555-3392', '(5) 555-7293'),
 ('CHOPS', 'Chop-suey Chinese', 'Yang Wang', 'Owner', 'Hauptstr. 29', 'Bern', None, '3012', 'Switzerland', '0452-076545', None),
 ('COMMI', 'Comércio Mineiro', 'Pedro Afonso', 'Sales Associate', 'Av. dos Lusíadas, 23', 'São Paulo', 'SP', '05432-043', 'Brazil', '(11) 555-7647', None),
 ('CONSH', 'Consolidated Holdings', 'Elizabeth Brown', 'Sales Representative', 'Berkeley Gardens\r\n12  Brewery ', 'London', None, 'WX1 6LT', 'UK', '(171) 555-2282', '(171) 555-9199'),
 ('DRACD', 'Drachenblut Delikatessen', 'Sven Ottlieb', 'Order Administrator', 'Walserweg 21', 'Aachen', None, '52066', 'Germany', '0241-039123', '0241-059428'),
 ('DUMON', 'Du monde entier', 'Janine Labrune', 'Owner', '67, rue des Cinquante Otages', 'Nantes', None, '44000', 'France', '40.67.88.88', '40.67.89.89'),
 ('EASTC', 'Eastern Connection', 'Ann Devon', 'Sales Agent', '35 King George', 'London', None, 'WX3 6FW', 'UK', '(171) 555-0297', '(171) 555-3373'),
 ('ERNSH', 'Ernst Handel', 'Roland Mendel', 'Sales Manager', 'Kirchgasse 6', 'Graz', None, '8010', 'Austria', '7675-3425', '7675-3426')]

- If I said there were several "glaring problems" with this schema, you would probably not find me funny.


- Define an improved schema. You may have to define additional tables to decompose the information. You only need to show the ```CREATE TABLE``` statements. You do not need to modify data.


- Guidance:
    - You can assume that it is globally unique, that is a postal code will not occur in two different countries.
    - You do not need to implement check constraints or triggers. You do need to include FK and PK relationships in         the tables that you create
    - You should modify the schema to support multiple contacts per _Customer._
    - Contact title has a fixed set of values, but there is an API to add or change valid titles.
    

- Your answer is a set of ```CREATE TABLE``` statements. You may use MySQL Workbench to define the tables and relationships, and copy the ```CREATE TABLE``` statements below.


- You do not need to execute the statements in the notebook.

Answer: 

```
CREATE TABLE `job_titles` (
  `title_id` int(11) NOT NULL,
  `title_name` varchar(64) NOT NULL,
  PRIMARY KEY (`title_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


CREATE TABLE `postal_info` (
  `postal_code` varchar(12) NOT NULL,
  `country` varchar(45) NOT NULL,
  `city` varchar(45) NOT NULL,
  `region` varchar(45) NOT NULL,
  `postal_code_id` int(11) NOT NULL,
  PRIMARY KEY (`postal_code_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

CREATE TABLE `address_info` (
  `address_id` int(11) NOT NULL,
  `street1` varchar(128) NOT NULL,
  `street2` varchar(128) DEFAULT NULL,
  `postal_code_id` int(11) NOT NULL,
  PRIMARY KEY (`address_id`),
  KEY `a_to_p_idx` (`postal_code_id`),
  CONSTRAINT `a_to_p` FOREIGN KEY (`postal_code_id`) REFERENCES `postal_info` (`postal_code_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

CREATE TABLE `customer_info` (
  `customer_id` varchar(8) NOT NULL,
  `customer_name` varchar(128) NOT NULL,
  `address_id` int(11) NOT NULL,
  PRIMARY KEY (`customer_id`),
  KEY `c_to_a_idx` (`address_id`),
  CONSTRAINT `c_to_a` FOREIGN KEY (`address_id`) REFERENCES `address_info` (`address_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


CREATE TABLE `contact_info` (
  `contact_id` int(11) NOT NULL,
  `customer_id` varchar(12) NOT NULL,
  `last_name` varchar(64) NOT NULL,
  `first_name` varchar(64) NOT NULL,
  `phone_no` varchar(45) NOT NULL,
  `fax_no` varchar(45) DEFAULT NULL,
  `title_code` int(11) NOT NULL,
  PRIMARY KEY (`contact_id`),
  KEY `c_to_cu_idx` (`customer_id`),
  KEY `c_to_j_idx` (`title_code`),
  CONSTRAINT `c_to_cu` FOREIGN KEY (`customer_id`) REFERENCES `customer_info` (`customer_id`),
  CONSTRAINT `c_to_j` FOREIGN KEY (`title_code`) REFERENCES `job_titles` (`title_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


```

<a id='7'></a>

<span style="font-size:18px;"><u>Q7: Complex SQL (10 points)</u></span>

Use the schema _Classic Models_

__Part 1__

Produce a view that delivers the following information.

<a id='7.1'></a>

In [6]:
%sql select * from classicmodels.customer_product_totals limit 50;

50 rows affected.

[(103, 'Atelier graphique', 'S18_2870', Decimal('58109.04')),
 (141, 'Euro+ Shopping Channel', 'S18_3232', Decimal('46991.96')),
 (103, 'Atelier graphique', 'S18_3685', Decimal('43855.24')),
 (103, 'Atelier graphique', 'S18_1589', Decimal('37661.52')),
 (124, 'Mini Gifts Distributors Ltd.', 'S12_1108', Decimal('24098.63')),
 (124, 'Mini Gifts Distributors Ltd.', 'S12_3891', Decimal('21811.12')),
 (103, 'Atelier graphique', 'S24_1628', Decimal('21635.00')),
 (141, 'Euro+ Shopping Channel', 'S24_3856', Decimal('21047.69')),
 (124, 'Mini Gifts Distributors Ltd.', 'S18_2238', Decimal('18780.28')),
 (141, 'Euro+ Shopping Channel', 'S12_4473', Decimal('18716.37')),
 (141, 'Euro+ Shopping Channel', 'S18_2238', Decimal('18049.63')),
 (141, 'Euro+ Shopping Channel', 'S18_3140', Decimal('17789.18')),
 (141, 'Euro+ Shopping Channel', 'S18_2319', Decimal('17711.48')),
 (141, 'Euro+ Shopping Channel', 'S18_4027', Decimal('17336.44')),
 (141, 'Euro+ Shopping Channel', 'S24_4048', Decimal('17076.39')),
 (124, 'Mini Gifts Distributors Ltd.', 'S10_1949', Decimal('16664.00')),
 (124, 'Mini Gifts Distributors Ltd.', 'S18_2795', Decimal('16648.85')),
 (114, 'Australian Collectors, Co.', 'S10_4698', Decimal('16604.51')),
 (141, 'Euro+ Shopping Channel', 'S24_3432', Decimal('16486.36')),
 (141, 'Euro+ Shopping Channel', 'S24_2300', Decimal('16378.75')),
 (141, 'Euro+ Shopping Channel', 'S12_3148', Decimal('16229.17')),
 (124, 'Mini Gifts Distributors Ltd.', 'S24_2300', Decimal('15728.32')),
 (124, 'Mini Gifts Distributors Ltd.', 'S18_3140', Decimal('15666.79')),
 (323, 'Down Under Souveniers, Inc', 'S12_1099', Decimal('15345.76')),
 (141, 'Euro+ Shopping Channel', 'S24_2887', Decimal('15038.45')),
 (141, 'Euro+ Shopping Channel', 'S50_1392', Decimal('14997.99')),
 (124, 'Mini Gifts Distributors Ltd.', 'S12_4473', Decimal('14950.30')),
 (141, 'Euro+ Shopping Channel', 'S18_2795', Decimal('14926.19')),
 (124, 'Mini Gifts Distributors Ltd.', 'S18_1749', Decimal('14048.80')),
 (148, 'Dragon Souveniers, Ltd.', 'S12_1108', Decimal('13851.97')),
 (124, 'Mini Gifts Distributors Ltd.', 'S12_3148', Decimal('13837.52')),
 (141, 'Euro+ Shopping Channel', 'S18_3685', Decimal('13803.33')),
 (141, 'Euro+ Shopping Channel', 'S18_3482', Decimal('13117.30')),
 (141, 'Euro+ Shopping Channel', 'S18_2870', Decimal('12929.40')),
 (385, 'Cruz & Sons Co.', 'S18_4721', Decimal('12850.28')),
 (124, 'Mini Gifts Distributors Ltd.', 'S10_4962', Decimal('12788.56')),
 (141, 'Euro+ Shopping Channel', 'S24_2766', Decimal('12694.31')),
 (124, 'Mini Gifts Distributors Ltd.', 'S18_3482', Decimal('12626.38')),
 (124, 'Mini Gifts Distributors Ltd.', 'S24_3856', Decimal('12600.86')),
 (124, 'Mini Gifts Distributors Ltd.', 'S18_1097', Decimal('12589.50')),
 (124, 'Mini Gifts Distributors Ltd.', 'S18_4600', Decimal('12350.36')),
 (124, 'Mini Gifts Distributors Ltd.', 'S50_1392', Decimal('12209.30')),
 (486, 'Motor Mint Distributors Inc.', 'S18_3232', Decimal('11972.20')),
 (124, 'Mini Gifts Distributors Ltd.', 'S18_3320', Decimal('11955.87')),
 (298, 'Vida Sport, Ltd', 'S18_3232', Decimal('11928.63')),
 (141, 'Euro+ Shopping Channel', 'S18_1589', Decimal('11774.32')),
 (141, 'Euro+ Shopping Channel', 'S18_3259', Decimal('11768.07')),
 (151, 'Muscle Machine Inc', 'S18_2238', Decimal('11749.55')),
 (201, 'UK Collectables, Ltd.', 'S10_4698', Decimal('11503.14')),
 (151, 'Muscle Machine Inc', 'S12_3891', Decimal('11440.12'))]

Answer:

In [9]:
%sql DROP VIEW IF EXISTS classicmodels.customer_product_totals

 * mysql+pymysql://root:***@localhost/lahman2019clean
0 rows affected.

[]

In [10]:
%%sql
CREATE VIEW customer_product_totals as 
SELECT customerNumber, customerName, productCode, sum((quantityOrdered*priceEach)) as total_sale
FROM customers JOIN
(SELECT * FROM orders JOIN orderdetails using(orderNumber)) as a
using(customerNumber)
WHERE not (status in ('Cancelled', 'On hold', 'Disputed'))
GROUP BY customerNumber, customerName, productCode
HAVING total_sale > 5000
ORDER BY total_sale DESC;

 * mysql+pymysql://root:***@localhost/lahman2019clean
0 rows affected.

[]

In [11]:
%sql select * from classicmodels.customer_product_totals limit 50;

 * mysql+pymysql://root:***@localhost/lahman2019clean
50 rows affected.

[(141, 'Euro+ Shopping Channel', 'S18_3232', Decimal('46991.96')),
 (124, 'Mini Gifts Distributors Ltd.', 'S12_1108', Decimal('24098.63')),
 (124, 'Mini Gifts Distributors Ltd.', 'S12_3891', Decimal('21811.12')),
 (141, 'Euro+ Shopping Channel', 'S24_3856', Decimal('21047.69')),
 (124, 'Mini Gifts Distributors Ltd.', 'S18_2238', Decimal('18780.28')),
 (141, 'Euro+ Shopping Channel', 'S12_4473', Decimal('18716.37')),
 (141, 'Euro+ Shopping Channel', 'S18_2238', Decimal('18049.63')),
 (141, 'Euro+ Shopping Channel', 'S18_3140', Decimal('17789.18')),
 (141, 'Euro+ Shopping Channel', 'S18_2319', Decimal('17711.48')),
 (141, 'Euro+ Shopping Channel', 'S18_4027', Decimal('17336.44')),
 (141, 'Euro+ Shopping Channel', 'S24_4048', Decimal('17076.39')),
 (124, 'Mini Gifts Distributors Ltd.', 'S10_1949', Decimal('16664.00')),
 (124, 'Mini Gifts Distributors Ltd.', 'S18_2795', Decimal('16648.85')),
 (114, 'Australian Collectors, Co.', 'S10_4698', Decimal('16604.51')),
 (141, 'Euro+ Shopping Channel', 'S24_3432', Decimal('16486.36')),
 (141, 'Euro+ Shopping Channel', 'S24_2300', Decimal('16378.75')),
 (141, 'Euro+ Shopping Channel', 'S12_3148', Decimal('16229.17')),
 (124, 'Mini Gifts Distributors Ltd.', 'S24_2300', Decimal('15728.32')),
 (124, 'Mini Gifts Distributors Ltd.', 'S18_3140', Decimal('15666.79')),
 (323, 'Down Under Souveniers, Inc', 'S12_1099', Decimal('15345.76')),
 (141, 'Euro+ Shopping Channel', 'S24_2887', Decimal('15038.45')),
 (141, 'Euro+ Shopping Channel', 'S50_1392', Decimal('14997.99')),
 (124, 'Mini Gifts Distributors Ltd.', 'S12_4473', Decimal('14950.30')),
 (141, 'Euro+ Shopping Channel', 'S18_2795', Decimal('14926.19')),
 (124, 'Mini Gifts Distributors Ltd.', 'S18_1749', Decimal('14048.80')),
 (148, 'Dragon Souveniers, Ltd.', 'S12_1108', Decimal('13851.97')),
 (124, 'Mini Gifts Distributors Ltd.', 'S12_3148', Decimal('13837.52')),
 (141, 'Euro+ Shopping Channel', 'S18_3685', Decimal('13803.33')),
 (141, 'Euro+ Shopping Channel', 'S18_3482', Decimal('13117.30')),
 (141, 'Euro+ Shopping Channel', 'S18_2870', Decimal('12929.40')),
 (385, 'Cruz & Sons Co.', 'S18_4721', Decimal('12850.28')),
 (124, 'Mini Gifts Distributors Ltd.', 'S10_4962', Decimal('12788.56')),
 (141, 'Euro+ Shopping Channel', 'S24_2766', Decimal('12694.31')),
 (124, 'Mini Gifts Distributors Ltd.', 'S18_3482', Decimal('12626.38')),
 (124, 'Mini Gifts Distributors Ltd.', 'S24_3856', Decimal('12600.86')),
 (124, 'Mini Gifts Distributors Ltd.', 'S18_1097', Decimal('12589.50')),
 (124, 'Mini Gifts Distributors Ltd.', 'S18_4600', Decimal('12350.36')),
 (124, 'Mini Gifts Distributors Ltd.', 'S50_1392', Decimal('12209.30')),
 (486, 'Motor Mint Distributors Inc.', 'S18_3232', Decimal('11972.20')),
 (124, 'Mini Gifts Distributors Ltd.', 'S18_3320', Decimal('11955.87')),
 (298, 'Vida Sport, Ltd', 'S18_3232', Decimal('11928.63')),
 (141, 'Euro+ Shopping Channel', 'S18_1589', Decimal('11774.32')),
 (141, 'Euro+ Shopping Channel', 'S18_3259', Decimal('11768.07')),
 (151, 'Muscle Machine Inc', 'S18_2238', Decimal('11749.55')),
 (201, 'UK Collectables, Ltd.', 'S10_4698', Decimal('11503.14')),
 (151, 'Muscle Machine Inc', 'S12_3891', Decimal('11440.12')),
 (171, 'Daedalus Designs Imports', 'S12_2823', Decimal('11329.54')),
 (209, 'Mini Caravy', 'S12_4675', Decimal('11170.52')),
 (151, 'Muscle Machine Inc', 'S18_3232', Decimal('11162.92')),
 (450, 'The Sharp Gifts Warehouse', 'S18_1662', Decimal('11066.89'))]

- The columns are the following:
    - ```customerNumber``` and ```customerName``` come from ```customers.```
    - ```total_sale``` is the total amount of money spent purchasing the product over all orders. 
    - The view does not include information from orders that are not in status ```Cancelled, On Hold, Disputed```
    - The view is ordered by ```total_sale``` descending.
    - The view includes only rows where the total sale is greater than \$5000.

<a id='7.2'></a>

__Part 2__

- Query the view to return:
    - ```product_code```
    - Sum to ```total_sale```
    - Aggregated (sum) by country.
    - Only for customers in ```France, Spain, UK.```


- You may NOT use a JOIN.

A sample answer is:

111 rows affected.

[('S18_2870', Decimal('70757.28'), 'France'),
 ('S18_3685', Decimal('53128.92'), 'France'),
 ('S18_3232', Decimal('46991.96'), 'Spain'),
 ('S18_1589', Decimal('46696.00'), 'France'),
 ('S12_1108', Decimal('28335.71'), 'France'),
 ('S12_2823', Decimal('25035.92'), 'France'),
 ('S18_2238', Decimal('24752.75'), 'Spain'),
 ('S24_2300', Decimal('23662.69'), 'Spain'),
 ('S18_2795', Decimal('23279.19'), 'Spain'),
 ('S18_2319', Decimal('23187.78'), 'Spain'),
 ('S18_3232', Decimal('23174.41'), 'France'),
 ('S24_4048', Decimal('22698.16'), 'Spain'),
 ('S12_3148', Decimal('21980.56'), 'Spain'),
 ('S12_1099', Decimal('21875.54'), 'France'),
 ('S24_1628', Decimal('21635.00'), 'France'),
 ('S24_3856', Decimal('21047.69'), 'Spain'),
 ('S12_4473', Decimal('18716.37'), 'Spain'),
 ('S10_4698', Decimal('18149.84'), 'France'),
 ('S12_1108', Decimal('18090.90'), 'Spain'),
 ('S10_1949', Decimal('18018.46'), 'France'),
 ('S10_1949', Decimal('17889.74'), 'Spain'),
 ('S18_3140', Decimal('17789.18'), 'Spain'),
 ('S18_4027', Decimal('17336.44'), 'Spain'),
 ('S700_3505', Decimal('16606.44'), 'Spain'),
 ('S24_3432', Decimal('16486.36'), 'Spain'),
 ('S18_4721', Decimal('15909.66'), 'France'),
 ('S24_3856', Decimal('15569.50'), 'France'),
 ('S24_2887', Decimal('15038.45'), 'Spain'),
 ('S50_1392', Decimal('14997.99'), 'Spain'),
 ('S12_3891', Decimal('14921.48'), 'France'),
 ('S12_3891', Decimal('14836.71'), 'Spain'),
 ('S700_2824', Decimal('13850.52'), 'Spain'),
 ('S18_1749', Decimal('13846.50'), 'France'),
 ('S18_3685', Decimal('13803.33'), 'Spain'),
 ('S24_4258', Decimal('13605.28'), 'Spain'),
 ('S24_2011', Decimal('13591.74'), 'Spain'),
 ('S18_1749', Decimal('13589.80'), 'UK'),
 ('S18_3482', Decimal('13117.30'), 'Spain'),
 ('S18_2870', Decimal('12929.40'), 'Spain'),
 ('S24_2766', Decimal('12694.31'), 'Spain'),
 ('S50_4713', Decimal('11946.73'), 'France'),
 ('S18_1589', Decimal('11774.32'), 'Spain'),
 ('S24_2300', Decimal('11772.25'), 'France'),
 ('S18_3259', Decimal('11768.07'), 'Spain'),
 ('S10_4698', Decimal('11503.14'), 'UK'),
 ('S12_4675', Decimal('11170.52'), 'France'),
 ('S32_4485', Decimal('10951.32'), 'France'),
 ('S12_1666', Decimal('10343.48'), 'France'),
 ('S24_2011', Decimal('10288.46'), 'UK'),
 ('S24_3191', Decimal('10233.10'), 'Spain'),
 ('S24_1444', Decimal('10123.52'), 'Spain'),
 ('S24_2887', Decimal('9939.80'), 'UK'),
 ('S18_1342', Decimal('9922.80'), 'Spain'),
 ('S18_3482', Decimal('9835.08'), 'France'),
 ('S18_4522', Decimal('9405.64'), 'Spain'),
 ('S18_4721', Decimal('9103.73'), 'Spain'),
 ('S12_4675', Decimal('9060.67'), 'Spain'),
 ('S24_1046', Decimal('8826.35'), 'Spain'),
 ('S32_3207', Decimal('8570.81'), 'Spain'),
 ('S18_2795', Decimal('8395.51'), 'UK'),
 ('S24_2840', Decimal('8187.69'), 'Spain'),
 ('S12_2823', Decimal('8052.00'), 'UK'),
 ('S18_2325', Decimal('7911.37'), 'UK'),
 ('S24_1785', Decimal('7844.30'), 'Spain'),
 ('S700_2824', Decimal('7810.70'), 'France'),
 ('S32_2509', Decimal('7784.46'), 'Spain'),
 ('S50_1514', Decimal('7706.17'), 'Spain'),
 ('S18_2238', Decimal('7541.59'), 'France'),
 ('S32_4485', Decimal('7527.20'), 'Spain'),
 ('S32_1268', Decimal('7363.95'), 'Spain'),
 ('S700_2834', Decimal('7359.92'), 'France'),
 ('S24_3371', Decimal('7025.60'), 'Spain'),
 ('S700_1938', Decimal('6959.21'), 'Spain'),
 ('S18_4409', Decimal('6894.98'), 'UK'),
 ('S24_2766', Decimal('6851.56'), 'UK'),
 ('S700_3962', Decimal('6554.40'), 'Spain'),
 ('S18_3140', Decimal('6490.56'), 'France'),
 ('S24_3432', Decimal('6486.82'), 'UK'),
 ('S24_4278', Decimal('6419.18'), 'Spain'),
 ('S700_2466', Decimal('6354.12'), 'France'),
 ('S18_3029', Decimal('6330.34'), 'Spain'),
 ('S18_4409', Decimal('6276.59'), 'Spain'),
 ('S700_3167', Decimal('6158.40'), 'France'),
 ('S12_3380', Decimal('6124.38'), 'Spain'),
 ('S18_1749', Decimal('6099.60'), 'Spain'),
 ('S12_1666', Decimal('5960.36'), 'Spain'),
 ('S700_1691', Decimal('5958.01'), 'France'),
 ('S10_4757', Decimal('5875.20'), 'France'),
 ('S18_1097', Decimal('5859.00'), 'Spain'),
 ('S72_3212', Decimal('5808.56'), 'Spain'),
 ('S24_1628', Decimal('5704.75'), 'Spain'),
 ('S24_3191', Decimal('5678.64'), 'UK'),
 ('S12_1108', Decimal('5668.66'), 'UK'),
 ('S18_1662', Decimal('5596.50'), 'UK'),
 ('S700_1691', Decimal('5568.24'), 'Spain'),
 ('S18_1984', Decimal('5482.52'), 'Spain'),
 ('S18_2581', Decimal('5458.39'), 'Spain'),
 ('S18_2325', Decimal('5438.58'), 'France'),
 ('S24_4620', Decimal('5419.48'), 'Spain'),
 ('S18_1662', Decimal('5364.66'), 'France'),
 ('S10_2016', Decimal('5352.30'), 'France'),
 ('S10_4757', Decimal('5324.40'), 'Spain'),
 ('S32_1374', Decimal('5320.00'), 'France'),
 ('S32_1374', Decimal('5273.95'), 'Spain'),
 ('S10_1678', Decimal('5268.51'), 'France'),
 ('S18_1129', Decimal('5173.33'), 'France'),
 ('S18_4600', Decimal('5146.00'), 'Spain'),
 ('S700_1138', Decimal('5070.00'), 'Spain'),
 ('S18_4933', Decimal('5061.43'), 'Spain'),
 ('S18_3856', Decimal('5030.88'), 'France'),
 ('S24_1578', Decimal('5028.72'), 'UK')]

Your query and answer:

In [13]:
%%sql
use classicmodels;
SELECT productCode, sum(total_sale) as country_total_sale, 
(SELECT country FROM classicmodels.customers 
 WHERE classicmodels.customers.customerNumber=classicmodels.customer_product_totals.customerNumber) as country
FROM classicmodels.customer_product_totals
WHERE (SELECT country FROM classicmodels.customers WHERE
      classicmodels.customers.customerNumber=classicmodels.customer_product_totals.customerNumber) in
        ('UK', 'France', 'Spain')
GROUP BY productCode,country
ORDER BY country_total_sale DESC

 * mysql+pymysql://root:***@localhost/lahman2019clean
0 rows affected.
110 rows affected.

[('S18_3232', Decimal('46991.96'), 'Spain'),
 ('S12_1108', Decimal('28335.71'), 'France'),
 ('S12_2823', Decimal('25035.92'), 'France'),
 ('S18_2238', Decimal('24752.75'), 'Spain'),
 ('S24_2300', Decimal('23662.69'), 'Spain'),
 ('S18_2795', Decimal('23279.19'), 'Spain'),
 ('S18_2319', Decimal('23187.78'), 'Spain'),
 ('S18_3232', Decimal('23174.41'), 'France'),
 ('S24_4048', Decimal('22698.16'), 'Spain'),
 ('S12_3148', Decimal('21980.56'), 'Spain'),
 ('S12_1099', Decimal('21875.54'), 'France'),
 ('S24_3856', Decimal('21047.69'), 'Spain'),
 ('S12_4473', Decimal('18716.37'), 'Spain'),
 ('S10_4698', Decimal('18149.84'), 'France'),
 ('S12_1108', Decimal('18090.90'), 'Spain'),
 ('S10_1949', Decimal('18018.46'), 'France'),
 ('S18_2870', Decimal('17930.88'), 'France'),
 ('S10_1949', Decimal('17889.74'), 'Spain'),
 ('S18_3140', Decimal('17789.18'), 'Spain'),
 ('S18_4027', Decimal('17336.44'), 'Spain'),
 ('S700_3505', Decimal('16606.44'), 'Spain'),
 ('S24_3432', Decimal('16486.36'), 'Spain'),
 ('S18_4721', Decimal('15909.66'), 'France'),
 ('S24_3856', Decimal('15569.50'), 'France'),
 ('S24_2887', Decimal('15038.45'), 'Spain'),
 ('S50_1392', Decimal('14997.99'), 'Spain'),
 ('S12_3891', Decimal('14921.48'), 'France'),
 ('S12_3891', Decimal('14836.71'), 'Spain'),
 ('S700_2824', Decimal('13850.52'), 'Spain'),
 ('S18_1749', Decimal('13846.50'), 'France'),
 ('S18_3685', Decimal('13803.33'), 'Spain'),
 ('S24_4258', Decimal('13605.28'), 'Spain'),
 ('S24_2011', Decimal('13591.74'), 'Spain'),
 ('S18_1749', Decimal('13589.80'), 'UK'),
 ('S18_3482', Decimal('13117.30'), 'Spain'),
 ('S18_2870', Decimal('12929.40'), 'Spain'),
 ('S24_2766', Decimal('12694.31'), 'Spain'),
 ('S50_4713', Decimal('11946.73'), 'France'),
 ('S18_1589', Decimal('11774.32'), 'Spain'),
 ('S24_2300', Decimal('11772.25'), 'France'),
 ('S18_3259', Decimal('11768.07'), 'Spain'),
 ('S10_4698', Decimal('11503.14'), 'UK'),
 ('S12_4675', Decimal('11170.52'), 'France'),
 ('S32_4485', Decimal('10951.32'), 'France'),
 ('S12_1666', Decimal('10343.48'), 'France'),
 ('S24_2011', Decimal('10288.46'), 'UK'),
 ('S24_3191', Decimal('10233.10'), 'Spain'),
 ('S24_1444', Decimal('10123.52'), 'Spain'),
 ('S24_2887', Decimal('9939.80'), 'UK'),
 ('S18_1342', Decimal('9922.80'), 'Spain'),
 ('S18_3482', Decimal('9835.08'), 'France'),
 ('S18_4522', Decimal('9405.64'), 'Spain'),
 ('S18_3685', Decimal('9273.68'), 'France'),
 ('S18_4721', Decimal('9103.73'), 'Spain'),
 ('S12_4675', Decimal('9060.67'), 'Spain'),
 ('S18_1589', Decimal('9034.48'), 'France'),
 ('S24_1046', Decimal('8826.35'), 'Spain'),
 ('S32_3207', Decimal('8570.81'), 'Spain'),
 ('S18_2795', Decimal('8395.51'), 'UK'),
 ('S24_2840', Decimal('8187.69'), 'Spain'),
 ('S12_2823', Decimal('8052.00'), 'UK'),
 ('S18_2325', Decimal('7911.37'), 'UK'),
 ('S24_1785', Decimal('7844.30'), 'Spain'),
 ('S700_2824', Decimal('7810.70'), 'France'),
 ('S32_2509', Decimal('7784.46'), 'Spain'),
 ('S50_1514', Decimal('7706.17'), 'Spain'),
 ('S18_2238', Decimal('7541.59'), 'France'),
 ('S32_4485', Decimal('7527.20'), 'Spain'),
 ('S32_1268', Decimal('7363.95'), 'Spain'),
 ('S700_2834', Decimal('7359.92'), 'France'),
 ('S24_3371', Decimal('7025.60'), 'Spain'),
 ('S700_1938', Decimal('6959.21'), 'Spain'),
 ('S18_4409', Decimal('6894.98'), 'UK'),
 ('S24_2766', Decimal('6851.56'), 'UK'),
 ('S700_3962', Decimal('6554.40'), 'Spain'),
 ('S18_3140', Decimal('6490.56'), 'France'),
 ('S24_3432', Decimal('6486.82'), 'UK'),
 ('S24_4278', Decimal('6419.18'), 'Spain'),
 ('S700_2466', Decimal('6354.12'), 'France'),
 ('S18_3029', Decimal('6330.34'), 'Spain'),
 ('S18_4409', Decimal('6276.59'), 'Spain'),
 ('S700_3167', Decimal('6158.40'), 'France'),
 ('S12_3380', Decimal('6124.38'), 'Spain'),
 ('S18_1749', Decimal('6099.60'), 'Spain'),
 ('S12_1666', Decimal('5960.36'), 'Spain'),
 ('S700_1691', Decimal('5958.01'), 'France'),
 ('S10_4757', Decimal('5875.20'), 'France'),
 ('S18_1097', Decimal('5859.00'), 'Spain'),
 ('S72_3212', Decimal('5808.56'), 'Spain'),
 ('S24_1628', Decimal('5704.75'), 'Spain'),
 ('S24_3191', Decimal('5678.64'), 'UK'),
 ('S12_1108', Decimal('5668.66'), 'UK'),
 ('S18_1662', Decimal('5596.50'), 'UK'),
 ('S700_1691', Decimal('5568.24'), 'Spain'),
 ('S18_1984', Decimal('5482.52'), 'Spain'),
 ('S18_2581', Decimal('5458.39'), 'Spain'),
 ('S18_2325', Decimal('5438.58'), 'France'),
 ('S24_4620', Decimal('5419.48'), 'Spain'),
 ('S18_1662', Decimal('5364.66'), 'France'),
 ('S10_2016', Decimal('5352.30'), 'France'),
 ('S10_4757', Decimal('5324.40'), 'Spain'),
 ('S32_1374', Decimal('5320.00'), 'France'),
 ('S32_1374', Decimal('5273.95'), 'Spain'),
 ('S10_1678', Decimal('5268.51'), 'France'),
 ('S18_1129', Decimal('5173.33'), 'France'),
 ('S18_4600', Decimal('5146.00'), 'Spain'),
 ('S700_1138', Decimal('5070.00'), 'Spain'),
 ('S18_4933', Decimal('5061.43'), 'Spain'),
 ('S18_3856', Decimal('5030.88'), 'France'),
 ('S24_1578', Decimal('5028.72'), 'UK')]

<a id='7.3'></a>

__Part 3__

- Use ```classicmodels.customer_product_totals```


- We are going to start a marketing campaign for certain European customers, specifically in France, Spain, UK.


- The campaign focuses on products with product codes beginning with ```S32_```, ```S50_``` or ```S700```.


- We want to classify customers as ```Diamond, Gold, Silver``` relative to a product based on their total spend for eligible products.


- You should use a function to classify the customers relative to products

My sample answer is:

25 rows affected.

[(141, 'Euro+ Shopping Channel', 'S50_1392', Decimal('14997.99'), 'Spain', 'Diamond'),
 (141, 'Euro+ Shopping Channel', 'S700_3505', Decimal('10800.45'), 'Spain', 'Diamond'),
 (141, 'Euro+ Shopping Channel', 'S32_3207', Decimal('8570.81'), 'Spain', 'Gold'),
 (172, "La Corne D'abondance, Co.", 'S700_2824', Decimal('7810.70'), 'France', 'Gold'),
 (141, 'Euro+ Shopping Channel', 'S32_2509', Decimal('7784.46'), 'Spain', 'Gold'),
 (141, 'Euro+ Shopping Channel', 'S50_1514', Decimal('7706.17'), 'Spain', 'Gold'),
 (458, 'Corrida Auto Replicas, Ltd', 'S700_2824', Decimal('7573.98'), 'Spain', 'Gold'),
 (141, 'Euro+ Shopping Channel', 'S32_4485', Decimal('7527.20'), 'Spain', 'Gold'),
 (458, 'Corrida Auto Replicas, Ltd', 'S32_1268', Decimal('7363.95'), 'Spain', 'Silver'),
 (119, 'La Rochelle Gifts', 'S700_2834', Decimal('7359.92'), 'France', 'Silver'),
 (141, 'Euro+ Shopping Channel', 'S700_1938', Decimal('6959.21'), 'Spain', 'Silver'),
 (141, 'Euro+ Shopping Channel', 'S700_3962', Decimal('6554.40'), 'Spain', 'Silver'),
 (119, 'La Rochelle Gifts', 'S700_2466', Decimal('6354.12'), 'France', 'Silver'),
 (406, 'Auto Canal+ Petit', 'S50_4713', Decimal('6306.88'), 'France', 'Silver'),
 (141, 'Euro+ Shopping Channel', 'S700_2824', Decimal('6276.54'), 'Spain', 'Silver'),
 (119, 'La Rochelle Gifts', 'S700_3167', Decimal('6158.40'), 'France', 'Silver'),
 (119, 'La Rochelle Gifts', 'S700_1691', Decimal('5958.01'), 'France', 'Silver'),
 (406, 'Auto Canal+ Petit', 'S32_4485', Decimal('5858.92'), 'France', 'Silver'),
 (216, 'Enaco Distributors', 'S700_3505', Decimal('5805.99'), 'Spain', 'Silver'),
 (171, 'Daedalus Designs Imports', 'S50_4713', Decimal('5639.85'), 'France', 'Silver'),
 (141, 'Euro+ Shopping Channel', 'S700_1691', Decimal('5568.24'), 'Spain', 'Silver'),
 (119, 'La Rochelle Gifts', 'S32_1374', Decimal('5320.00'), 'France', 'Silver'),
 (216, 'Enaco Distributors', 'S32_1374', Decimal('5273.95'), 'Spain', 'Silver'),
 (171, 'Daedalus Designs Imports', 'S32_4485', Decimal('5092.40'), 'France', 'Silver'),
 (141, 'Euro+ Shopping Channel', 'S700_1138', Decimal('5070.00'), 'Spain', 'Silver')]

Provide your answer and output:

In [23]:
%%sql
use classicmodels;
DROP function IF EXISTS `classify_customer`;
CREATE DEFINER=`root`@`localhost` FUNCTION `classify_customer`(total_sale double) RETURNS varchar(12) CHARSET latin1
    DETERMINISTIC
BEGIN
	declare result varchar(12);
    
    if total_sale >= 10000 then
		set result='Diamond';
	elseif total_sale >= 7500 then
		set result='Gold';
	elseif total_sale >= 5000 then
		set result='Silver';
	else
		set result=NULL;
	end if;
RETURN result;
END

 * mysql+pymysql://root:***@localhost/lahman2019clean
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [26]:
%%sql
use classicmodels;
SELECT *,
(SELECT country FROM classicmodels.customers 
 WHERE classicmodels.customers.customerNumber=classicmodels.customer_product_totals.customerNumber) as country,
classicmodels.classify_customer(total_sale) as tier
FROM customer_product_totals
WHERE (productCode like ("S32_%") OR productCode like("S50_%") OR productCode like("S700_%"))
AND (SELECT country FROM classicmodels.customers
    WHERE classicmodels.customers.customerNumber=classicmodels.customer_product_totals.customerNumber)
    IN ('France', 'UK', 'Spain')

 * mysql+pymysql://root:***@localhost/lahman2019clean
0 rows affected.
25 rows affected.

[(141, 'Euro+ Shopping Channel', 'S50_1392', Decimal('14997.99'), 'Spain', 'Diamond'),
 (141, 'Euro+ Shopping Channel', 'S700_3505', Decimal('10800.45'), 'Spain', 'Diamond'),
 (141, 'Euro+ Shopping Channel', 'S32_3207', Decimal('8570.81'), 'Spain', 'Gold'),
 (172, "La Corne D'abondance, Co.", 'S700_2824', Decimal('7810.70'), 'France', 'Gold'),
 (141, 'Euro+ Shopping Channel', 'S32_2509', Decimal('7784.46'), 'Spain', 'Gold'),
 (141, 'Euro+ Shopping Channel', 'S50_1514', Decimal('7706.17'), 'Spain', 'Gold'),
 (458, 'Corrida Auto Replicas, Ltd', 'S700_2824', Decimal('7573.98'), 'Spain', 'Gold'),
 (141, 'Euro+ Shopping Channel', 'S32_4485', Decimal('7527.20'), 'Spain', 'Gold'),
 (458, 'Corrida Auto Replicas, Ltd', 'S32_1268', Decimal('7363.95'), 'Spain', 'Silver'),
 (119, 'La Rochelle Gifts', 'S700_2834', Decimal('7359.92'), 'France', 'Silver'),
 (141, 'Euro+ Shopping Channel', 'S700_1938', Decimal('6959.21'), 'Spain', 'Silver'),
 (141, 'Euro+ Shopping Channel', 'S700_3962', Decimal('6554.40'), 'Spain', 'Silver'),
 (119, 'La Rochelle Gifts', 'S700_2466', Decimal('6354.12'), 'France', 'Silver'),
 (406, 'Auto Canal+ Petit', 'S50_4713', Decimal('6306.88'), 'France', 'Silver'),
 (141, 'Euro+ Shopping Channel', 'S700_2824', Decimal('6276.54'), 'Spain', 'Silver'),
 (119, 'La Rochelle Gifts', 'S700_3167', Decimal('6158.40'), 'France', 'Silver'),
 (119, 'La Rochelle Gifts', 'S700_1691', Decimal('5958.01'), 'France', 'Silver'),
 (406, 'Auto Canal+ Petit', 'S32_4485', Decimal('5858.92'), 'France', 'Silver'),
 (216, 'Enaco Distributors', 'S700_3505', Decimal('5805.99'), 'Spain', 'Silver'),
 (171, 'Daedalus Designs Imports', 'S50_4713', Decimal('5639.85'), 'France', 'Silver'),
 (141, 'Euro+ Shopping Channel', 'S700_1691', Decimal('5568.24'), 'Spain', 'Silver'),
 (119, 'La Rochelle Gifts', 'S32_1374', Decimal('5320.00'), 'France', 'Silver'),
 (216, 'Enaco Distributors', 'S32_1374', Decimal('5273.95'), 'Spain', 'Silver'),
 (171, 'Daedalus Designs Imports', 'S32_4485', Decimal('5092.40'), 'France', 'Silver'),
 (141, 'Euro+ Shopping Channel', 'S700_1138', Decimal('5070.00'), 'Spain', 'Silver')]

<a id='8'></a>

<span style="font-size:18px;"><u>Q8: Physical Storage (5 points)</u></span>

Answer each of the questions below using three for four sentences/bullet points:

1. What is the _Elevator Algorithm_ for scheduling block access on disks?
<br><br>
2. What is the _Clock Algorithm_ for page replace in a buffer pool.
<br><br>
3. Give and briefly explain three techniques improving disk block access on a magnetic disk.
<br><br>
4. Explain a possible combined use of table partitioning and disks with different read latency/performance. 
<br><br>
5. What is columnar storage, what are some benefits and for which use cases does it help?

Answer:

1. Elevator Algorithm is a disk-scheduling algorithm to determine the motion of the disk's arm and head in servicing read and write requests. Since this algorithm works as an elevator, it known as elevator algorithm. The advantages of this algorithm are high throughput, low variance of response time, and average response time. However, the disadvantage is that long wating time for requests for locaitons just visited by disk arm.

2. Clock is a more efficient version of FIFO than Second-chance because pages don't have to be constantly pushed to the back of the list, but it performs the same general function as Second-Chance. The clock algorithm keeps a circular list of pages in memory, with the "hand" (iterator) pointing to the last examined page frame in the list. When a page fault occurs and no empty frames exist, then the R (referenced) bit is inspected at the hand's location. If R is 0, the new page is put in place of the page the "hand" points to, and the hand is advanced one position. Otherwise, the R bit is cleared, then the clock hand is incremented and the process is repeated until a page is replaced.

3. a)Buffering of blocks in memory (memory means RAM, main memory hereafter) – the major goal of a DBMS is to minimize the number of disk block transfers between the memory and the disk. Buffering involves allocation of memory space in the main memory to hold some of the blocks which can be retained for future use in case if that blocks are needed frequently. We want to do this for as many blocks as possible. There are several ideas to choose the important or frequently needed blocks. These are done by the Buffer Manager. b)Nonvolatile Write Buffers – main memory is volatile, ie., losses data due to power failure. For this case, we would use a Non-volatile Random Access Memory (NV-RAM) which is backed by the battery power. The pending buffer writes due to a system crash or sudden power failure can be easily handled using this technique. c)Scheduling – it is about transferring the data in the order in which they are stored. The idea is to reduce the disk-arm movement. For example, let us suppose that there are several block requests initiated. And at that time the disk read-write head is exactly over the innermost track of a disk platter. Now the idea is to move disk arm towards the outermost track so that we can transfer the required blocks on the way instead of accessing back and forth. 

4. We can store credit card information and separate them into before 2016 and after 2016. For after 2016, we will use it more often so that we can put it in a fast disk while for transactions before 2016, we will probably not going to use it so we will put it in a slow disk. This can optimize for storage cost and read performance. We will have a fast reading and better performance for transactions after 2016. 

5. Columnar storage for database tables is an important factor in optimizing analytic query performance because it drastically reduces the overall disk I/O requirements and reduces the amount of data you need to load from disk. Using columnar storage, each data block stores values of a single column for multiple rows. As records enter the system, Amazon Redshift transparently converts the data to columnar storage for each of the columns. In this simplified example, using columnar storage, each data block holds column field values for as many as three times as many records as row-based storage. This means that reading the same number of column field values for the same number of records requires a third of the I/O operations compared to row-wise storage. In practice, using tables with very large numbers of columns and very large row counts, storage efficiency is even greater.

Cited from https://www.geeksforgeeks.org/disk-scheduling-algorithms/, https://en.wikipedia.org/wiki/Page_replacement_algorithm, http://www.exploredatabase.com/2014/10/techniques-to-optimize-disk-block-access.html, https://docs.aws.amazon.com/redshift/latest/dg/c_columnar_storage_disk_mem_mgmnt.html

<a id='9'></a>

<span style="font-size:18px;"><u>Q9: Indexing (5 points)</u></span>

Briefly answer the following questions.

1. Give three advantages of a B+ Tree index relative to a hash index.
<br><br>
2. What is a covering index? Why use it?
<br><br>
3. What issue does a write intensive workload cause for B+ Tree indexes?
<br><br>
4. VERY briefly describe an LSM Tree.
<br><br>
5. VERY briefly explain index key compression, how it works, its benefits and when it is applicable.

Answer:

1. a)The B+ tree can contain more nodes per node for two reasons, one is to reduce the height of the tree. The other is to change the data range into multiple intervals. The more the interval, the faster the data retrieval. b)Support range query, and partial range query is very efficient, each node can index a larger and more accurate range, which means that the B+ tree single disk IO information is larger than the B-tree, and the I/O efficiency is higher. c)The leaf nodes are linked to each other by two or two pointers, and the sequential query performance is higher.

2. A covering index is a non-clustered index which includes all columns referenced in the query and therefore, the optimizer does not have to perform an additional lookup to the table in order to retrieve the data requested. As the data requested is all indexed by the covering index, it is a faster operation. To be considered as a covering index, all columns referenced by the query must be contained in the index. So this means all columns in the SELECT, JOIN, WHERE, GROUP BY, HAVING etc etc. The covering index helps us to avoid the round trip to the table to satisfy the request, since all of the columns requested exist in the non-clustered index itself. This greatly reduces logical and physical reads, hence boosting performance.

3. In B+ Tree, if a record moves, all secondary indices that store record pointers have to be updated. So a write intensive workload would make node splits in B+ Tree file organizations become extremely expensive. For example, if we are doing an update, we have to update indexes and datafiles so basically there are two writes. Moreover, as the tree goes, we are constantly spliting and rebalancing and that will become complicated.

4. The log-structured merge-tree (or LSM tree) is a data structure with performance characteristics that make it attractive for providing indexed access to files with high insert volume, such as transactional log data. LSM trees, like other search trees, maintain key-value pairs. LSM trees maintain data in two or more separate structures, each of which is optimized for its respective underlying storage medium; data is synchronized between the two structures efficiently, in batches.

5. Index Key Compression allows us to compress portions of the key values in an index segment (or Index Organized Table), by reducing the storage inefficiencies of storing repeating values. It compresses the data by splitting the index key into two parts; the leading group of columns, called the prefix entry (which are potentially shared across multiple key values), and the suffix columns (which is unique to every index key). As the prefixes are potentially shared across multiple keys in a block, these can be stored more optimally (that is, only once) and shared across multiple suffix entries, resulting in the index data being compressed. Index Key compression is done in the leaf blocks of a B-Tree index. The keys are compressed locally within an index leaf block, that is, both the prefix and suffix entries are stored within same block. Suffix entries form the compressed representation of the index key. Each one of these compressed rows refers to the corresponding prefix, which is stored in the same block. By storing the prefixes and suffixes locally in the same block, each index block is self-contained and in order to construct the complete key there is no additional block IO involved. It is a very cheap memory only operation and will reduce storage.

Cited from https://medium.com/@mena.meseha/what-is-the-difference-between-mysql-innodb-b-tree-index-and-hash-index-ed8f2ce66d69, http://dbadiaries.com/sql-server-covering-index-and-key-lookup/, https://en.wikipedia.org/wiki/Log-structured_merge-tree, https://blogs.oracle.com/dbstorage/compressing-your-indexes:-index-key-compression-part-1

<a id='10'></a>

<span style="font-size:18px;"><u>Q10: Query Processing and Optimization (5 points)</u></span>

1. Consider the relational expression below. Is there any equivalent query and if so, what is it? Is there a reason why the query optimizer might choose the equivalent query?

\begin{equation}
\sigma_{salary>50000}(\pi_{id,last\_name, salary}(Employees))
\end{equation}

Answer:

\begin{equation}
\pi_{id,last\_name, salary}(\sigma_{salary>50000}(Employees))
\end{equation}

- There might be an index on $salary.$

2. Consider the query below. Assume that there are independent, individual indexes on each of the columns: ```R.mobile_phone_number, R.home_phone_number, S.mobile_phone_number, S.home_phone_number.``` How might a query optimizer use index selectivity to optimize the query. Is there an index that using would help?

```
SELECT * FROM R JOIN S
    ON (R.mobile_phone_number=S.mobile_phone_number) AND (R.home_phone_number=S.home_phone_number)
```

Answer:

The ratio of unique values within a key column is referred to as index selectivity. The more unique the values, the higher the selectivity, which means that a unique index has the highest possible selectivity. The query engine loves highly selective key columns, especially if those columns are referenced in the WHERE clause of your frequently run queries. The higher the selectivity, the faster the query engine can reduce the size of the result set. The flipside, of course, is that a column with relatively few unique values is seldom a good candidate to be indexed. There is separate indexes on home phone and mobile phone because they are separate and non-compound indexes so we can only use one of them (home phone/mobile phone). So there are two indexes and we will pick the most selective indexes.

Cited from https://stackoverflow.com/questions/12155853/role-of-selectivity-in-index-scan-seek

3. The following diagram is a simplified representation of some steps in query processing and optimization. Explaining what is occurring and why in each of the steps. You only need three or four sentences per step.

<img src="./query_processing_steps.png">

Answer:

In the first step, this is basically parsing and building an query expressing tree. It will parse the test and convert into a data structure called parse tree. They will do submit syntax to check if this is correct and then they have a representation of it that they can manipulate other than the strings. 
In the second step, it is generating a better equivalent query. After the query optimizer has processed and said it is semantically correct, it goes in and generates all possible equivalent query trees. It pushed the select through the join, a select-push step to reduce the size of that table.
In the third step, it basically does an evaluation plan. It selected the query in the second step and it is choosing an algorithm for each node. Whether the join will be nested loop join, sort join or hash join. An algorithm will be determined for each of the operation. Producing a concrete plan by selecting the opeartors.

4. Briefly explain the concepts of _materialization_ and _pipelining_ in query processing.
<br><br>

Answer:

Materialization: Materialized evaluation walks the parse or expression tree of the relational algebra operation, and performs the innermost or leaf-level operations first. The intermediate result of each operation is materialized — an actual, but temporary, relation —and becomes input for subsequent operations. The cost of materialization is the sum of the individual operations plus the cost of writing the intermediate results to disk — a function of the blocking factor (number of records per block) of the temporaries. The problem with materialization is that — lots of temporary files, lots of I/O.

Pipelining: With pipelined evaluation, operations form a queue, and results are passed from one operation to another as they are calculated, hence the technique’s name. With pipelined evaluation, operations form a queue, and results are passed from one operation to another as they are calculated, hence the technique’s name. General approach: restructure the individual operation algorithms so that they take streams of tuples as both input and output. Limitation : General approach: restructure the individual operation algorithms so that they take streams of tuples as both input and output. So for instance, algorithms that require sorting can only use pipelining if the input is already sorted beforehand, since sorting by nature cannot be performed until all tuples to be sorted are known.

Cited from: https://3cs1e07ms.wordpress.com/2014/05/11/materialization-vs-pipelining/

5. Give an example/reason why a query processor may build a hash index for optimizing a _project operation._

Answer:

Query optimization is a process of choosing the most effective means of executing an SQL statement. The databases optimizes each SQL statement based on its SQL statement's statistics. The reason why a query processor builds a hash index is: we may have duplicates in the mentioned attributes. To optimize these duplicates, the query optimizer will create a hash index on project opeartion. Without hash index, we query database for every attributes mentioned. With a hash index, we can simply check if it is already fetched by using the hash index.

<a id='11'></a>

<span style="font-size:18px;"><u>Q11: Transaction Processing (5 points)</u></span>

Give a three or four sentence answer to each of the following questions:

1. Define the _phantom phenomenon._ What locking technique can the query engine use to prevent the phenomenon?
<br><br>
2. Explain optimistic concurrent control, and the pros and cons.  
<br>
3. Consider the following two transactions.<br><br>
    - T1: R1(A), W1(A), R1(B), W1(B)
    - T2: R2(A), W2(A), R2(B), W2(B)<br><br>
    and <br><br>
    - the execution schedule: S1: R1(A), W1(A), R2(A), W2(A), R1(B), W1(B), R2(B), W2(B)<br><br>
    - Show the steps for using _conflict serializable_ rules to convert S1 into a serial schedule. Explain each step in one or two sentences.
<br><br>
4. Explain _cascading abort._ What locking technique prevents the problem?
<br><br>
5. Explain the concepts of the concepts of the transaction processing acronyms _ACID_ and _BASE._ 


Answer:

1. A phantom read occurs when, in the course of a transaction, two identical queries are executed, and the collection of rows returned by the second query is different from the first. Phantom reads are when reading from committed INSERTS and/or DELETES from another transaction. There are new rows or rows that have disappeared since you began the transaction. We will do range blocking on index. We will put a lock on a range of values that applied to all the rows in the range and pervent inserts into the range itself. 

2. Optimistic concurrency control (OCC) is a concurrency control method applied to transactional systems such as relational database management systems and software transactional memory. OCC assumes that multiple transactions can frequently complete without interfering with each other. While running, transactions use data resources without acquiring locks on those resources. Before committing, each transaction verifies that no other transaction has modified the data it has read. If the check reveals conflicting modifications, the committing transaction rolls back and can be restarted. For optimistic concurrency control, the strength is: Transactions are executed more efficiently. Data content is relatively safe. Throughput is much higher. Its weakness is: There is a risk of data interference among concurrent transactions since it transactions conflict may occur during execution. In this case, data is no longer correct. Database may have some hidden errors with inconsistent data; even conflict check is performed at the end of transactions. Transactions may be in deadlock that causes the system to hang.

3. T1: R1(A), W1(A), R1(B), W1(B) T2: R2(A), W2(A), R2(B), W2(B) S1: R1(A), W1(A), R2(A), W2(A), R1(B), W1(B), R2(B), W2(B) -> Swapping non-conflicting operations R2(A) and R1(B) in S1, the schedule becomes, S11: R1(A), W1(A), R1(B), W2(A), R2(A), W1(B), R2(B), W2(B) -> Similarly, swapping non-conflicting operations W2(A) and W1(B) in S11, the schedule becomes, S12: R1(A), W1(A), R1(B), W1(B), R2(A), W2(A), R2(B), W2(B). S12 is a serial schedule in which all operations of T1 are performed before starting any operation of T2. Since S has been transformed into a serial schedule S12 by swapping non-conflicting operations of S1, S1 is conflict serializable.

4. Cascading Abort: A situation in which the abort of one transaction forces the abort of another transaction to prevent the second transaction from reading invalid (uncommitted) data. Also called "cascading rollback". A cascading rollback occurs in database systems when a transaction (T1) causes a failure and a rollback must be performed. Other transactions dependent on T1's actions must also be rollbacked due to T1's failure, thus causing a cascading effect. That is, one transaction's failure causes many to fail. To avoid cascading rollback, follow a modified protocol called Strict Two-phase locking (S2PL) that a transaction must holds all its exclusive locks till it commits/aborts.

5. ACID: Atomicity: Either the task (or all tasks) within a transaction are performed or none of them are. This is the all-or-none principle. If one element of a transaction fails the entire transaction fails. Consistency: The transaction must meet all protocols or rules defined by the system at all times. The transaction does not violate those protocols and the database must remain in a consistent state at the beginning and end of a transaction; there are never any half-completed transactions. Isolation: No transaction has access to any other transaction that is in an intermediate or unfinished state. Thus, each transaction is independent unto itself. This is required for both performance and consistency of transactions within a database. Durability: Once the transaction is complete, it will persist as complete and cannot be undone; it will survive system failure, power loss and other types of system breakdowns. BASE: Basically Available: This constraint states that the system does guarantee the availability of the data as regards CAP Theorem; there will be a response to any request. But, that response could still be ‘failure’ to obtain the requested data or the data may be in an inconsistent or changing state, much like waiting for a check to clear in your bank account. Soft state: The state of the system could change over time, so even during times without input there may be changes going on due to ‘eventual consistency,’ thus the state of the system is always ‘soft.’ Eventual consistency: The system will eventually become consistent once it stops receiving input. The data will propagate to everywhere it should sooner or later, but the system will continue to receive input and is not checking the consistency of every transaction before it moves onto the next one. Werner Vogel’s article “Eventually Consistent – Revisited” covers this topic is much greater detail.
  
Cited from: https://stackoverflow.com/questions/11043712/what-is-the-difference-between-non-repeatable-read-and-phantom-read, https://en.wikipedia.org/wiki/Optimistic_concurrency_control, https://www.geeksforgeeks.org/conflict-serializability-in-dbms/, http://www.uobabylon.edu.iq/eprints/pubdoc_6_5679_100.docx, https://courses.cs.washington.edu/courses/cse444/00wi/glossary.html, https://en.wikipedia.org/wiki/Rollback_(data_management), https://www.dataversity.net/acid-vs-base-the-shifting-ph-of-database-transaction-processing/

<a id='12'></a>

<span style="font-size:18px;"><u>Q12: Using Transactions (10 points)</u></span>

- Below is a table definition for a banking account.

```
CREATE TABLE `w4111f19final`.`banking_account` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `balance` double NOT NULL,
  `version` varchar(64) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8;
```

- The fields have the following meanings:
    - _id_ is the account number or ID. The field is auto-increment, which means a new ID is created on every INSERT.
    - _balance_ is the account balance.
    - _version_ is a UUID in string format. Every program that updates an account tuple generates a new UUID and updates on the insert along with any other fields the program changes.
    

- Using the Python helper code from the setup section, write and test two programs:
    - $transfer\_pessimistic:$
        - Begins a transaction and sets the isolation level to serializable.
        - Prompts the user for the source account ID.
        - Reads and displays the balance and asks the user if they want to continue.
        - Prompts the user for the target account ID.
        - Reads and displays the balance and asks the user if they want to continue.
        - Prompts the user for the amount to transfer.
        - Performs the transfer.
        - Commits.
    - $transfer\_optimistic:$
        - Prompts the user for the source account ID.
        - Reads and displays the balance and asks the user if they want to continue.
        - Prompts the user for the target account ID.
        - Reads and displays the balance and asks the user if they want to continue.
        - Prompts the user for the amount to transfer.
        - Begins a transaction and sets the isolation level to serializable.
        - Rereads the information.
        - If the version data has not changed, performs the transfer.
        - Commits.
        
        
- Decomposing into smaller functions that the overall programs call simplifies implementation.
 
 Answer:

In [29]:
import uuid

In [30]:
def get_cursor(cursor, isolation_level="SERIALIZABLE"):

    if cursor is None:
        cnx = get_new_connection()
        cursor = cnx.cursor()
        cursor.execute("SET SESSION TRANSACTION ISOLATION LEVEL " +  isolation_level)
        cursor_created = True
    else:
        cursor_created = False
        cnx = None

    return cursor_created, cursor, cnx

In [31]:
def process_transaction(cursor_created, cursor, conn, success=True):

    if cursor_created == True:

        if success == True:
            conn.commit()
            conn.close()
        else:
            conn.rollback()
            conn.close()
    else:
        pass

In [32]:
def create_account(balance, cursor):

    cursor_created, cursor, conn = get_cursor(cursor)

    try:
        version_id = str(uuid.uuid4())

        q = "insert into w4111_f19_final.banking_account (balance, version_id) values(%s, %s)"
        result = run_q(q, args=(balance, version_id), fetch=True, commit=False, cur=cursor)

        q = "select max(id) as new_id from w4111_f19_final.banking_account;"
        result = run_q(q, args=None, fetch=True, commit=False, cur=cursor)

        result = result[1][0]['new_id']

        process_transaction(cursor_created, cursor, conn, True)
    except Exception as e:
        print("Exception = ", e)
        result = None
        process_transaction(cursor_created, cursor_created, conn, False)
        raise e

    return result

In [33]:
def get_balance(id, cursor=None):

    cursor_created, cursor, conn = get_cursor(cursor)

    try:
        q = "select * from w4111_f19_final.banking_account where id=%s"
        result = run_q(q, args=id, fetch=True, commit=False, cur=cursor)

        process_transaction(cursor_created, cursor, conn, True)

    except Exception as e:
        print("Exception = ", e)
        result = None
        process_transaction(cursor_created, cursor_created, conn, False)
        raise e

    return result[1][0]['balance']

In [34]:
def get_account(id, cursor=None):

    cursor_created, cursor, conn = get_cursor(cursor)

    try:
        q = "SELECT * FROM w4111_f19_final.banking_account WHERE id=%s"
        result = run_q(q, args=id, fetch=True, commit=False, cur=cursor)

        process_transaction(cursor_created, cursor, conn, True)

    except Exception as e:
        print("Exception = ", e)
        result = None
        process_transaction(cursor_created, cursor_created, conn, False)
        raise e

    return result[1][0]

In [35]:
def update_balance(id, amount, cursor=None):

    cursor_created, cursor, conn = get_cursor(cursor)

    try:
        new_version = str(uuid.uuid4())

        q = "update w4111_f19_final.banking_account set balance=%s, version_id=%s where id=%s"
        result = run_q(q, args=(amount, new_version, id), fetch=True, commit=False, cur=cursor)

        process_transaction(cursor_created, cursor, conn, True)

    except Exception as e:
        print("Exception = ", e)
        result = None
        process_transaction(cursor_created, cursor_created, conn, False)
        raise e

    return result

In [36]:
def update_balance_optimistic(acct, amount, cursor=None):

    cursor_created, cursor, conn = get_cursor(cursor)

    try:
        current_acct = get_account(acct['id'], cursor=cursor)
        if current_acct['version_id'] != acct['version_id']:
            raise ValueError("Optimistic transaction failed.")

        new_version = str(uuid.uuid4())

        q = "update w4111_f19_final.banking_account set balance=%s, version_id=%s where id=%s"

        result = run_q(q, args=(amount, new_version, acct['id']), fetch=True, commit=False, cur=cursor)

        process_transaction(cursor_created, cursor, conn, True)

    except Exception as e:
        print("Exception = ", e)
        result = None
        process_transaction(cursor_created, cursor_created, conn, False)
        raise e

    return result

In [61]:
def transfer_pessimistic():

    print(" \n*** Transfering Pessimistically ***\n")

    cursor_created, cursor, conn = get_cursor(None)

    try:

        source_id = input("Source account ID: ")

        source_b = get_balance(source_id, cursor=cursor)

        cont = input("Source balance = " + str(source_b) + ". Continue (y/n)")

        if cont == 'y':

            target_id = input("Target account ID: ")
            target_b = get_balance(target_id, cursor=cursor)
            input("Target balance = " + str(target_b) + ". Continue (y/n)")

            if cont == 'y':
                amount = input("Amount: ")
                amount = float(amount)

                new_source = float(source_b) - amount
                new_target = float(target_b) + amount

                update_balance(source_id, new_source, cursor=cursor)
                update_balance(target_id, new_target, cursor=cursor)

            process_transaction(cursor_created, cursor, conn, True)
        else:
            process_transaction(cursor_created, cursor, conn, False)

    except Exception as e:
        print("Exception = ", e)
        result = None
        process_transaction(cursor_created, cursor_created, conn, False)
        raise e

    return

In [66]:
def transfer_optimistic():

    print(" \n*** Transfering Optimistically *** \n")

    source_id = input("Source account ID: ")

    source_acct = get_account(source_id, cursor=None)
    cont = input("Source balance = " + str(source_acct['balance']) + ". Continue (y/n)")

    result = None

    if cont == 'y':

        target_id = input("Target account ID: ")
        target_acct = get_account(target_id, cursor=None)
        input("Target balance = " + str(target_acct['balance']) + ". Continue (y/n)")

        if cont == 'y':

            amount = input("Amount: ")
            amount = float(amount)


            cursor_created, cursor, conn = get_cursor(None)# Compute new balances.
            new_source = float(source_acct['balance']) - amount
            new_target = float(target_acct['balance']) + amount

            try:

                update_balance_optimistic(source_acct, new_source, cursor=cursor)
                update_balance_optimistic(target_acct, new_target, cursor=cursor)

                process_transaction(cursor_created, cursor, conn, True)

                result = amount

            except Exception as e:
                print("Exception = ", e)
                result = None
                process_transaction(cursor_created, cursor_created, conn, False)
                raise e


    return result

In [46]:
def drive_it():

    tran_approach = int(input("Optimistic = 1, Pessimistic = 2: "))
    if tran_approach == 1:
        tran_approach = "OPTIMISTIC"
    else:
        tran_approach = "PESSIMISTIC"

    print("Transaction approach = ", tran_approach)

    if tran_approach == "PESSIMISTIC":
        transfer_pessimistic()
    else:
        transfer_optimistic()

Tests:

In [40]:
def t1(balance):

    new_id = create_account(balance, cursor=None)
    print("ID for new account = ", new_id)

t1(40)
t1(100)
t1(200)

ID for new account =  6
ID for new account =  7
ID for new account =  8

In [42]:
def t2(id):

    balance = get_balance(id, cursor=None)
    print("Balance for account ", id, " is ", balance)
    
t2(6)
t2(7)
t2(8)

Balance for account  6  is  40
Balance for account  7  is  100
Balance for account  8  is  200

In [43]:
def t3(id):

    acct = get_account(id, cursor=None)
    print("Account information for account ", id, " is ", acct)
    
t3(6)
t3(7)
t3(8)

Account information for account  6  is  {'id': 6, 'version_id': '6a3c78ac-89e0-436e-89e8-bc04f3e34771', 'balance': '40'}
Account information for account  7  is  {'id': 7, 'version_id': '1b887153-5efc-41dc-91d1-c31c64a663eb', 'balance': '100'}
Account information for account  8  is  {'id': 8, 'version_id': '6cf8093c-8f33-4731-879a-1aa3f2d4984a', 'balance': '200'}

In [62]:
# Test pessimistic success
drive_it()

Optimistic = 1, Pessimistic = 2: 2
Transaction approach =  PESSIMISTIC

*** Transfering Pessimistically ***

Source account ID: 8
Source balance = 200. Continue (y/n)y
Target account ID: 6
Target balance = 40. Continue (y/n)y
Amount: 10

In [64]:
t2(6)
t2(8)

Balance for account  6  is  50
Balance for account  8  is  190

In [67]:
# Test optimistic success
drive_it()

Optimistic = 1, Pessimistic = 2: 1
Transaction approach =  OPTIMISTIC

*** Transfering Optimistically ***

Source account ID: 8
Source balance = 190. Continue (y/n)y
Target account ID: 7
Target balance = 100. Continue (y/n)y
Amount: 15

In [68]:
t2(7)
t2(8)

Balance for account  7  is  115
Balance for account  8  is  175

In [ ]:
# Test pessimistic failure

<br><br>
<img src="./pessimistic.png">
<br><br>
<hr style="height:2px;">

In [ ]:
# Test optimistic failure

<br><br>
<img src="./optimistic.png">
<br><br>
<hr style="height:2px;">

<a id='13'></a>

<span style="font-size:18px;"><u>Q13: Decision Support Schema (5 points)</u></span>

- Use the schema _classicmodels._


- Define a _Star Schema_ for analytics/decision support operations on the data. You ONLY need to define the schema.


- You only need to draw a Crow's Foot notation diagram and add explanatory comments. This can not be hand-written


Answer:

<br><br>
<img src="./q13.png">
<br><br>
<hr style="height:2px;">

<a id='14'></a>

<span style="font-size:18px;"><u>Q14: Graph Databases (5 points)</u></span>

- We have seen techniques for modeling inheritance  and relationships in the relational model.


- The diagram below is an incomplete relational/UML model diagram.

<img src="./node_model_2.png">


- The model is incomplete because the relationships are missing:
    1. _Faculty_ and _Student_ are both specializations of _Person._
    2. A _Student_ has a _mentor_ (another student) and an _advisor._
    3. A _Faculty_ belongs to/works in a _Department._
    4. A _Department_ offers _Majors._
    5. A _Student_ has a _Major._
    
    
    
- Implement the model using a graph database, Neo4j. Neo4j does not have a DDL. Creating instances of data creates the schema.
    
    
- Using your cloud version of Neo4j, create the following schema and demonstration your answer by:
    - Creating 3 _Students._
    - Creating 3 _Faculty._
    - Creating 3 _Departments._
    - Creating 3 _Majors._
    - Every _Student_ has one _Faculty_ advisor and vice-versa.
    - Every _Student_ has a major, and each _Major_ has a single student.
    - Every _Department_ offers one _Major_ and vice-versa.
    
    
- Demonstrate (and execute) a query that would solve the following question.
    1. There is a new student. You know ```(uni, last_name, first_name, email, major).```
    2. Find a candidate _Student_ mentor by querying for a _Student_ that has the same _Major._
    3. Find a candidate _Advisor_ by querying for a _Faculty_ that teaches in the department that offers the _Major._
    
    

- Your answer should be a screen shows of the result graph model after creating the data, and a screen shots of the results of executing the queries.

Answer:

Create three students

```
create (n:Person:Student {UNI:"s1", last_name:"student", first_name:"one", email:"s1@columbia.edu"})
create (n:Person:Student {UNI:"s2", last_name:"student", first_name:"two", email:"s2@columbia.edu"})
create (n:Person:Student {UNI:"s3", last_name:"student", first_name:"three", email:"s3@columbia.edu"})
```

<br><br>
<img src="./student.png">
<br><br>
<hr style="height:2px;">

Create three faculty

```
create (n:Person:Faculty {UNI:"f1", last_name:"faculty", first_name:"one", email:"f1@columbia.edu"})
create (n:Person:Faculty {UNI:"f2", last_name:"faculty", first_name:"two", email:"f2@columbia.edu"})
create (n:Person:Faculty {UNI:"f3", last_name:"faculty", first_name:"three", email:"f3@columbia.edu"})
```

<br><br>
<img src="./faculty.png">
<br><br>
<hr style="height:2px;">

Create three departments

```
create (d:Department {dept_code:"d1", dept_name:"Dept1"})
create (d:Department {dept_code:"d2", dept_name:"Dept2"})
create (d:Department {dept_code:"d3", dept_name:"Dept3"})
```

<br><br>
<img src="./department.png">
<br><br>
<hr style="height:2px;">

Create three major

```
create (m:Major {major_name:"m1", points_required:1})
create (m:Major {major_name:"m2", points_required:2})
create (m:Major {major_name:"m3", points_required:3})
```

<br><br>
<img src="./major.png">
<br><br>
<hr style="height:2px;">

Faculty to Department

```
match (p:Faculty {UNI:"f1"}), (d:Department {dept_code:"d1"}) create (p)-[r:FACULTY_IN]->(d)
match (p:Faculty {UNI:"f2"}), (d:Department {dept_code:"d2"}) create (p)-[r:FACULTY_IN]->(d)
match (p:Faculty {UNI:"f3"}), (d:Department {dept_code:"d3"}) create (p)-[r:FACULTY_IN]->(d)
```

<br><br>
<img src="./f_to_d.png">
<br><br>
<hr style="height:2px;">

Major to Department

```
match (m:Major {major_name:"m1"}), (d:Department {dept_code:"d1"}) create (m)-[r:DEPT_FOR]->(d)
match (m:Major {major_name:"m2"}), (d:Department {dept_code:"d2"}) create (m)-[r:DEPT_FOR]->(d)
match (m:Major {major_name:"m3"}), (d:Department {dept_code:"d3"}) create (m)-[r:DEPT_FOR]->(d)
```

<br><br>
<img src="./m_to_d.png">
<br><br>
<hr style="height:2px;">

Student to Major

```
match (s:Student {UNI:"s1"}), (m:Major {major_name:"m1"}) create (s)-[r:MAJORS_IN]->(m)
match (s:Student {UNI:"s2"}), (m:Major {major_name:"m2"}) create (s)-[r:MAJORS_IN]->(m)
match (s:Student {UNI:"s3"}), (m:Major {major_name:"m3"}) create (s)-[r:MAJORS_IN]->(m)
```

<br><br>
<img src="./s_to_m.png">
<br><br>
<hr style="height:2px;">

New Student with major m1

```
create (n:Person:Student {UNI:"s4", last_name:"student", first_name:"four", email:"s4@columbia.edu"})
match (n:Person:Student {UNI:"s4"}), (d:Major {major_name:"m1"}) create (n)-[r:MAJORS_IN]->(d)
```

Find candidate student

```
match (s:Person:Student {UNI:"s4"})-[r1:MAJORS_IN]->(m)<-[r2:MAJORS_IN]-(s2:Student) return s, r1, m, r2, s2
```

<br><br>
<img src="./candidate_student.png">
<br><br>
<hr style="height:2px;">


Mentor student

```
match (s:Person:Student {UNI:"s4"})-[r1:MAJORS_IN]->(m)<-[r2:MAJORS_IN]-(s2:Student) create (s2)-[r:MENTORS]->(s)
```

<br><br>
<img src="./mentor.png">
<br><br>
<hr style="height:2px;">


Find candidate advisor

```
match pp=(s:Student {UNI:"s4"})-[r1:MAJORS_IN]->(m)-[DEPT_FOR]-(d)-[r:FACULTY_IN]-(f:Faculty) return pp
```

<br><br>
<img src="./candidate_advisor.png">
<br><br>
<hr style="height:2px;">


Advise student

```
match (s:Student {UNI:"s4"})-[r1:MAJORS_IN]->(m)-[DEPT_FOR]-(d)-[r:FACULTY_IN]-(f:Faculty) create (f)-[r2:ADVISES]->(s)
```

<br><br>
<img src="./advisor.png">
<br><br>
<hr style="height:2px;">

Result table

```
match (s:Student), (f:Faculty), (d:Department), (m:Major) return s,f,d,m
```

<br><br>
<img src="./result.png">
<br><br>
<hr style="height:2px;">

<a id='15'></a>

<span style="font-size:18px;"><u>Q15: Decision Support Schema and Views (5 points)</u></span>

Read the following sql statments and python helper functions to answer the questions at the end:

<u>Set Up</u>

- The following SQL statements create the Annual Performance Summary view from the midterm exam.


- You may already have the views. If you do not or are unsure if yours are correct,
    - Drop the views you have, if they exist.
    - Run the script below to create the views.

```
CREATE 
    ALGORITHM = UNDEFINED 
    DEFINER = `root`@`localhost` 
    SQL SECURITY DEFINER
VIEW `lahman2019clean`.`batting_summary` AS
    SELECT 
        `lahman2019clean`.`batting`.`playerID` AS `playerid`,
        `lahman2019clean`.`batting`.`teamID` AS `teamid`,
        `lahman2019clean`.`batting`.`yearID` AS `yearid`,
        SUM(`lahman2019clean`.`batting`.`AB`) AS `ab`,
        SUM(`lahman2019clean`.`batting`.`H`) AS `h`,
        SUM(`lahman2019clean`.`batting`.`HR`) AS `hr`,
        SUM(`lahman2019clean`.`batting`.`RBI`) AS `rbi`
    FROM
        `lahman2019clean`.`batting`
    GROUP BY `lahman2019clean`.`batting`.`playerID` , `lahman2019clean`.`batting`.`teamID` , `lahman2019clean`.`batting`.`yearID`
    

CREATE 
    ALGORITHM = UNDEFINED 
    DEFINER = `root`@`localhost` 
    SQL SECURITY DEFINER
VIEW `lahman2019clean`.`fielding_summary` AS
    SELECT 
        `lahman2019clean`.`fielding`.`playerID` AS `playerid`,
        `lahman2019clean`.`fielding`.`teamID` AS `teamid`,
        `lahman2019clean`.`fielding`.`yearID` AS `yearid`,
        SUM(`lahman2019clean`.`fielding`.`PO`) AS `po`,
        SUM(`lahman2019clean`.`fielding`.`A`) AS `a`,
        SUM(`lahman2019clean`.`fielding`.`E`) AS `e`,
        GROUP_CONCAT(`lahman2019clean`.`fielding`.`POS`
            SEPARATOR ',') AS `positions`
    FROM
        `lahman2019clean`.`fielding`
    GROUP BY `lahman2019clean`.`fielding`.`playerID` , `lahman2019clean`.`fielding`.`teamID` , `lahman2019clean`.`fielding`.`yearID`
    
    
CREATE 
    ALGORITHM = UNDEFINED 
    DEFINER = `root`@`localhost` 
    SQL SECURITY DEFINER
VIEW `lahman2019clean`.`appearances_summary` AS
    SELECT 
        `lahman2019clean`.`appearances`.`playerID` AS `playerid`,
        `lahman2019clean`.`appearances`.`teamID` AS `teamid`,
        `lahman2019clean`.`appearances`.`yearID` AS `yearid`,
        `lahman2019clean`.`appearances`.`G_all` AS `G_all`,
        `lahman2019clean`.`appearances`.`GS` AS `GS`
    FROM
        `lahman2019clean`.`appearances`

CREATE 
    ALGORITHM = UNDEFINED 
    DEFINER = `root`@`localhost` 
    SQL SECURITY DEFINER
VIEW `lahman2019clean`.`pitching_summary` AS
    SELECT 
        `lahman2019clean`.`pitching`.`playerID` AS `playerID`,
        `lahman2019clean`.`pitching`.`teamID` AS `teamID`,
        `lahman2019clean`.`pitching`.`yearID` AS `yearID`,
        SUM(`lahman2019clean`.`pitching`.`W`) AS `w`,
        SUM(`lahman2019clean`.`pitching`.`L`) AS `l`,
        SUM(`lahman2019clean`.`pitching`.`G`) AS `g_p`,
        SUM(`lahman2019clean`.`pitching`.`IPouts`) AS `IPouts`
    FROM
        `lahman2019clean`.`pitching`
    GROUP BY `lahman2019clean`.`pitching`.`playerID` , `lahman2019clean`.`pitching`.`teamID` , `lahman2019clean`.`pitching`.`yearID`
    
    
CREATE 
    ALGORITHM = UNDEFINED 
    DEFINER = `root`@`localhost` 
    SQL SECURITY DEFINER
VIEW `lahman2019clean`.`annual_summary` AS
    SELECT 
        `c`.`playerid` AS `playerid`,
        `c`.`teamid` AS `teamid`,
        `c`.`yearid` AS `yearid`,
        `c`.`G_all` AS `G_all`,
        `c`.`GS` AS `GS`,
        `c`.`ab` AS `ab`,
        `c`.`h` AS `h`,
        `c`.`hr` AS `hr`,
        `c`.`rbi` AS `rbi`,
        `c`.`w` AS `w`,
        `c`.`l` AS `l`,
        `c`.`g_p` AS `g_p`,
        `c`.`IPouts` AS `IPouts`,
        `fielding_summary`.`po` AS `po`,
        `fielding_summary`.`a` AS `a`,
        `fielding_summary`.`e` AS `e`,
        `fielding_summary`.`positions` AS `positions`
    FROM
        ((SELECT 
            `a`.`playerid` AS `playerid`,
                `a`.`teamid` AS `teamid`,
                `a`.`yearid` AS `yearid`,
                `a`.`G_all` AS `G_all`,
                `a`.`GS` AS `GS`,
                `a`.`ab` AS `ab`,
                `a`.`h` AS `h`,
                `a`.`hr` AS `hr`,
                `a`.`rbi` AS `rbi`,
                `pitching_summary`.`w` AS `w`,
                `pitching_summary`.`l` AS `l`,
                `pitching_summary`.`g_p` AS `g_p`,
                `pitching_summary`.`IPouts` AS `IPouts`
        FROM
            ((SELECT 
            `appearances_summary`.`playerid` AS `playerid`,
                `appearances_summary`.`teamid` AS `teamid`,
                `appearances_summary`.`yearid` AS `yearid`,
                `appearances_summary`.`G_all` AS `G_all`,
                `appearances_summary`.`GS` AS `GS`,
                `batting_summary`.`ab` AS `ab`,
                `batting_summary`.`h` AS `h`,
                `batting_summary`.`hr` AS `hr`,
                `batting_summary`.`rbi` AS `rbi`
        FROM
            (`lahman2019clean`.`appearances_summary`
        LEFT JOIN `lahman2019clean`.`batting_summary` ON (((`appearances_summary`.`playerid` = `batting_summary`.`playerid`)
            AND (`appearances_summary`.`teamid` = `batting_summary`.`teamid`)
            AND (`appearances_summary`.`yearid` = `batting_summary`.`yearid`))))) `a`
        LEFT JOIN `lahman2019clean`.`pitching_summary` ON (((`a`.`playerid` = `pitching_summary`.`playerID`)
            AND (`a`.`teamid` = `pitching_summary`.`teamID`)
            AND (`a`.`yearid` = `pitching_summary`.`yearID`))))) `c`
        LEFT JOIN `lahman2019clean`.`fielding_summary` ON (((`c`.`playerid` = `fielding_summary`.`playerid`)
            AND (`c`.`teamid` = `fielding_summary`.`teamid`)
            AND (`c`.`yearid` = `fielding_summary`.`yearid`))))
```

- The following SQL statement creates a table that is a copy of the data.

```
create table annual_performance_summary_copy as
	select * from annual_summary;
```


- The following Python function will test the performance of a query.

In [ ]:
import time
from datetime import datetime

def run_and_time_query(q, no_of_tests):
    
    cnx = get_new_connection("localhost", "dbuser", "dbuserdbuser")
    cursor = cnx.cursor()
    
    now = datetime.now()
    dt_string = now.strftime("%d/%m/%Y %H:%M:%S")
    print("Start performance test at ", dt_string)
    print("q = ", q)
    print("No of tests = ", no_of_tests)
    
    start_time = time.time()
    
    for i in range(0, no_of_tests):
        res = cursor.execute(q)
        
    end_time = time.time()
    cnx.commit()
    cnx.close()
    
    now = datetime.now()
    dt_string = now.strftime("%d/%m/%Y %H:%M:%S")
    print("ending performance test at ", dt_string)
    
    print("Elapsed time = ", end_time-start_time)

- Execute the two code cells below.

In [ ]:
q = "select * from lahman2019clean.annual_summary where playerID='willite01'"
test_count = 10

run_and_time_query(q, test_count)

In [ ]:
q = "select * from lahman2019clean.annual_performance_summary_copy where playerID='willite01'"
test_count = 10

run_and_time_query(q, test_count)

<u>Questions:</u>
1. Why is querying  ```lahman2019clean.annual_performance_summary_copy``` so much faster than querying ```lahman2019clean.annual_summary?```
<br><br>
2. If views are so much slower than copy tables, give the primary reason why a database design might choose a view?
<br><br>
3. What are three general reasons/general benefits of using views compared to just executing the SQL on underlying tables.
<br><br>
4. Explain, in two or three sentences, how you handle reflecting changes in the base tables in the data in the copy table.
<br><br>
5. My nephew once told me that he thinks Hank Aaron is the greatest hitter of all time. Is he still my nephew?

Answer:

1. Because the view is running the previous query every time we execute it and so it is reconstructing everything. For each of the query, it is reruning the compelx query. The copy table is just querying the data, so it is not reruning the query that building the data every time.

2. Because views are automatically updated and they are always current.

3. Security - Views can be made accessible to users while the underlying tables are not directly accessible. This allows the DBA to give users only the data they need, while protecting other data in the same table. Simplicity - Views can be used to hide and reuse complex queries. Column Name Simplication or Clarification - Views can be used to provide aliases on column names to make them more memorable and/or meaningful. Stepping Stone - Views can provide a stepping stone in a "multi-level" query. For example, you could create a view of a query that counted the number of sales each salesperson had made. You could then query that view to group the sales people by the number of sales they had made.

4. We will use trigger in SQL. A database trigger is special stored procedure that is run when specific actions occur within a database.  Most triggers are defined to run when changes are made to a table’s data.  Triggers can be defined to run instead of or after DML (Data Manipulation Language) actions such as INSERT, UPDATE, and DELETE.

5. No.

Cited from https://stackoverflow.com/questions/2680207/what-is-a-good-reason-to-use-sql-views, https://www.essentialsql.com/what-is-a-database-trigger/

<a href='#top'> Back to top</a>